<div class="madiv">

    <div class="logo">
      <div class="grid-logo">
        <div class="logo-gauche"></div>
        <div class="logo-milieu">
            <div class="svice-box">
              <div class="svice-icon loader-logo">
                <img src="../../assets/icones/1_ngboado_logo.png" />
              </div>
            </div>
        </div>
        <div class="logo-droite"></div>
      </div>
    </div>
    
  <div class="principal">
        <ul id="nav-tab" class="nav">
          <span class="active">
       <a href="#home">&nbsp; Bureaux &nbsp;</a></span>
       <span><a href="#">&nbsp; Fondateurs &nbsp;</a></span>
       <span><a href="#">&nbsp; Donateurs &nbsp;</a></span>
       <span><a href="#">&nbsp; Honneur &nbsp;</a></span>
       <span><a href="#">&nbsp; Assistants &nbsp;</a></span>
       <span><a href="#">&nbsp; Actifs &nbsp;</a></span>
        </ul>
      
        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <div class="card-carousel">
              <div class="imb popup" onclick="myFunction()">
                <img src="../../assets/images/Image11.jpg" width="345px" height="400px" alt="">
                <span class="popuptext" id="myPopup">Lorem 1</span>
              </div>
              <!-- <div class="imb popup" onclick="twFunction()">
                <img src="../../assets/images/Image12.jpg" width="345px" height="400px" alt="">
                <span class="popuptext" id="myPopup2">Lorem 2</span>
              </div>
              <div class="imb popup" onclick="tFunction()">
                <img src="../../assets/images/Image13.jpg" width="345px" height="400px" alt="">
                <span class="popuptext" id="myPopup3">Lorem 3</span>
              </div>
              <div class="imb popup" onclick="frFunction()">
                <img src="../../assets/images/Image14.jpg" width="345px" height="400px" alt="">
                <span class="popuptext" id="myPopup4">Lorem 4</span>
              </div>
              <div class="imb popup" onclick="fvFunction()">
                <img src="../../assets/images/Image15.jpg" width="345px" height="400px" alt="">
                <span class="popuptext" id="myPopup5">lorem 5</span> 
              </div> -->
            </div>
          </div>
          <div class="tab-pane" id="profile"></div>
       <div class="tab-pane" id="messages">
          </div>
      <div class="tab-pane" id="settings"></div>
      <div class="tab-pane" id="lorem5"></div>
      <div class="tab-pane" id="lorem6"></div>
        </div>
  </div>
      
  </div>
  
  
  <br>
  
  <div class="input-group" style="margin-left: 50px;">
    <div class="form-outline">
      <input type="search" id="form1" class="form-control" placeholder="Recherche" />
    </div>
    <button type="button" class="btn btn-primary">
      <i class="fa fa-search"></i>
    </button>
  </div>