<section class="section1">
  
  <!-- le logo (debut) -->
    <div class="row mt-4 mb-4 text-center">
      <div class="col-md-4"></div>
      <div class="col-md-4 text-center" (click)="openClickMenu()">
          <div class="loader-logo" id="svice-icon">
              <img  class="toggle-button" src="../../../assets/icones/logo.png" />
          </div>
      </div>
      <div class="col-md-4"></div>
   </div>
  <!-- le logo (fin) -->
  
   
  <!-- le titre (debut) -->
  <div class="row mt-4 mb-4 text-center">
      <div class="col-md-4"></div>
      <div class="col-md-4 text-center">
        <div class="Ags">Agences</div>
      </div>
      <div class="col-md-4"></div>
  </div>
  <!-- le titre (fin) -->
        
  <br><br>
  

  
  
  <!-- le carousel -->
  <div class="">
      <ul id="autoWidth" class="cs-hidden">
  <!--1------------------------------>
  
        <li class="item-a">
            <div class="box" data-toggle="modal" data-target="#exampleModal">
                <p class="marvel">01 <span class="marvel2">ANCAH</span></p>
                <hr class="trait">
                <div class="details">
                  <p class="lorem text-center">
                    Agence N'GBOADÔ pour la <br> Coordination des Actions Humanitaires.</p>
                </div>
              </div>
        </li>
  <!--2------------------------------>
  
        <li class="item-a">
            <div class="box" data-toggle="modal" data-target="#modalDeux">
                <p class="marvel">02 <span class="marvel2">ANDI</span></p>
                <hr class="trait">
                <div class="details">
                  <p class="lorem text-center">
                    Agence N'GBOADÔ de Developpe-<br>ment et d'Impact pour les droits humains.</p>
                </div>
            </div>
        </li>
  <!--3------------------------------>
  
        <li class="item-a">
            <div class="box" data-toggle="modal" data-target="#modalTrois">
              <p class="marvel">03 <span class="marvel2">ANEC</span></p>
              <hr class="trait">
              <div class="details">
                <p class="lorem text-center">
                  Agence N'GBOADÔ<br> pour l'Education et la Culture.</p>
              </div>
            </div>
        </li>
  <!--4------------------------------>
  
        <li class="item-a">
            <div class="box" data-toggle="modal" data-target="#modalFour">
              <p class="marvel">04 <span class="marvel2">ANSYS</span></p>
              <hr class="trait">
              <div class="details">
                <p class="lorem text-center">
                  Agence N'GBOADÔ<br> pour la Santé, l'Hygiène et le Sport.</p>
              </div>
            </div>
        </li>
  <!--5------------------------------>
      
        <li class="item-a">
            <div class="box" data-toggle="modal" data-target="#modalFive">
              <p class="marvel">00 <span class="marvel2">AGENCE</span></p>
              <hr class="trait">
              <div class="details">
                  <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non.</p>
              </div>
            </div>
        </li>
  <!--6------------------------------>
  
        <li class="item-a">
            <div class="box" data-toggle="modal" data-target="#modalSix">
              <p class="marvel">001 <span class="marvel2">AGENCE</span></p>
                <hr class="trait">
                <div class="details">
                    <p class="lorem text-center">
                      Agence N'GBOADÔ pour la <br> Coordination des Actions Humanitaires.</p>
                </div>
            </div>
        </li>
    </ul>
  </div>
  <!-- le carousel fin -->
  
<!-- La barre de recherche -->
<br><br>
<div class="monForm" style="margin-left: 540px;">
  <form>
    <div class="form-group row">
      <div class="col-sm-6">
        <i class="fa fa-search"></i>
        <input type="search" class="form-control" placeholder="Recherche">
      </div>
    </div>
  </form>
</div>
<!-- La barre de recherche -->
  </section>
   
<!-- le menu (debut) -->
<header>
  <div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" id="closeNav" (click)="closeClickMenu()">&times;</a>
  <div class="overlay-content">
      <div class="row mt-4 mb-4 text-center">
          <div class="col-md-4"></div>
          <div class="col-md-4 text-center" (click)="openClickMenu()">
              <div id="svice-icon">
                  <img  class="toggle-button" src="../../../assets/icones/logo.png" />
              </div>
          </div>
          <div class="col-md-4"></div>
      </div><br>
    <a class="lover" routerLink="/">Accueil</a>
    <a class="lover" routerLink="/presentation">Présentation</a>
    <a class="lover" routerLink="/mission-accueil">Mission</a>
    <a class="lover" routerLink="/agence-fond">Agences / Fonds</a>
    <a class="lover" routerLink="/membres">Membres</a>
    <a class="lover" routerLink="/dons">Dons</a>
    <a class="lover" routerLink="/blog">Blog</a>
    <a class="lover" routerLink="/suggestions-plaintes">Suggestions / Plaintes</a>
    <a class="lover" routerLink="/partenaires">Partenaires</a>
    <ul>
      <span><a href="#">
          <i class="fab fa-facebook-f"></i>
      </a></span>&nbsp;
      <span><a href="#">
          <i class="fab fa-twitter"></i>
      </a></span>&nbsp;
      <span><a href="#">
          <i class="fab fa-linkedin-in"></i>
      </a></span>&nbsp;
      <span><a href="#">
          <i class="fab fa-instagram"></i>
      </a></span>&nbsp;
      <span><a href="#">
          <i class="fab fa-youtube"></i>
      </a></span>
      <br>
      <small> &copy;2020 - ONG N'GBOADÔ</small>
      <br><br><br>
  </ul>
  </div>
  </div>
</header>
<!-- le menu (fin) -->

  
  <!-- les modals debut-->
  <!-- Modal 1 -->
<div class="modal fade" id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">        
      <div class="modal-body"><br>
        <div class="text-center" id="svic-icon">
          <img src="../../../assets/icones/logo.png" />
      </div>
        <p class="marvel text-center">01 <span class="marvel2">ANCAH</span></p>
        <hr>
        <b>Agence N'GBOADÔ pour la Coordination des Actions Humanitaires.</b><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales.
      </div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" style="float: right !important; padding: 5px !important;">&times;</span>
      </button>
    </div>
  </div>
</div>
  <!-- Modal 1 -->

  <!-- modal 2 -->
  <div class="modal fade" id="modalDeux" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modalDeuxLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">        
        <div class="modal-body"><br>
          <div class="text-center" id="svic-icon">
            <img src="../../../assets/icones/logo.png" />
        </div>
          <p class="marvel text-center">02 <span class="marvel2">ANDI</span></p>
          <hr>
          <b>Agence N'GBOADÔ de Developpement et d'Impact pour les droits humains.</b><br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales.
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="float: right !important; padding: 5px !important;">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <!-- modal 2 -->

  <!-- modal 3 -->
  <div class="modal fade" id="modalTrois" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modalTroisLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">        
        <div class="modal-body"><br>
          <div class="text-center" id="svic-icon">
            <img src="../../../assets/icones/logo.png" />
        </div>
          <p class="marvel text-center">03 <span class="marvel2">ANEC</span></p>
          <hr>
          <b>Agence N'GBOADÔ pour l'Education et la Culture.</b><br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales.
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="float: right !important; padding: 5px !important;">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <!-- modal 3 -->
    <!-- modal 4 -->
    <div class="modal fade" id="modalFour" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modalFourLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">        
          <div class="modal-body"><br>
            <div class="text-center" id="svic-icon">
              <img src="../../../assets/icones/logo.png" />
          </div>
            <p class="marvel text-center">04 <span class="marvel2">ANSYS</span></p>
            <hr>
            <b>Agence N'GBOADÔ pour la Santé, l'Hygiène et le Sport.</b><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales.
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" style="float: right !important; padding: 5px !important;">&times;</span>
          </button>
        </div>
      </div>
    </div>
    <!-- modal 4 -->
        <!-- modal 5 -->
        <div class="modal fade" id="modalFive" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modalFiveLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">        
              <div class="modal-body"><br>
                <div class="text-center" id="svic-icon">
                  <img src="../../../assets/icones/logo.png" />
              </div>
                <p class="marvel text-center">05 <span class="marvel2">AGENCE</span></p>
                <hr>
                <b>Agence N'GBOADÔ pour l'Education et la Culture.</b><br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales.
              </div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" style="float: right !important; padding: 5px !important;">&times;</span>
              </button>
            </div>
          </div>
        </div>
        <!-- modal 5 -->
      <!-- modal 6 -->
      <div class="modal fade" id="modalSix" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modalSixLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">        
            <div class="modal-body"><br>
              <div class="text-center" id="svic-icon">
                <img src="../../../assets/icones/logo.png" />
            </div>
              <p class="marvel text-center">06 <span class="marvel2">AGENCE</span></p>
              <hr>
              <b>Agence N'GBOADÔ pour l'Education et la Culture.</b><br>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales.
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" style="float: right !important; padding: 5px !important;">&times;</span>
            </button>
          </div>
        </div>
      </div>
      <!-- modal 5 -->
  <!-- les modals fin-->


