<section class="section1">
    <div class="landing-page">
        <div class="page-content">
            <div class="row text-center py-5">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center" (click)="openClickMenu()">
                    <div class="loader-logo" id="svice-icon">
                        <img  class="toggle-button" src="../../../assets/icones/logo-section.jpg" />
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <p><span class="prest">Suggestions & Plaintes</span> <br>
                <span class="march">Dans le marché</span><br>
                <span>Le meilleur modèle multi-page polyvalent</span>
              </p><br><br><br><br><br>
              <hr style="background-color: rgb(255, 255, 255);">
    
        </div>
    </div>
</section>

<section class="section2">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5 mt-4 py-5">
            <div class="ac">
                <input class="ac-input" id="ac-1" name="ac-1" type="checkbox" />
                <label class="ac-label" for="ac-1">1. Suggestions</label>
                
                <article class="ac-text">
                  <p class="lorem-acc">
                <span>Job Sodjinou</span> est née le 19 Mars 1981 à Koumassi, Abidjan.
                 Béninois d'origine, il est le 5ème garçon d'une famille de 9 enfants.
                 Après l'obtention d'unBac scientifique, il est orienté au CBCG de 
                 Cocody où il étudie la Finance Comptabilité.
              </p>
              <p class="lorem-acc">
                Toujours en quête de savoir, il décide de faire un tour en Europe.
                C'est ainsi que le 18 août 2015, il pose ses valises en Suisse.
                Les réalités du pays hôte le contraignent à la dépravation sexuelle
                suivie de son corolaire, la drogue.
              </p>
              <p class="lorem-acc">
               Devenue toxicomane, sans repère et dans l'impossibilité d'avoir du boulot
               sans son pays d'accueil, la drogue devint.
                Maecenas ligula massa, varius a, semper congue, euismod non.
              </p>
                  
                </article><!--/ac-text-->
            </div><!--/ac-->
        
              <div class="ac">
                <input class="ac-input" id="ac-4" name="ac-4" type="checkbox" />
                <label class="ac-label" for="ac-4">2. Plaintes</label>
                
                <article class="ac-text">
                  <p class="lorem-acc">
                    <span>Job Sodjinou</span> est née le 19 Mars 1981 à Koumassi, Abidjan.
                     Béninois d'origine, il est le 5ème garçon d'une famille de 9 enfants.
                     Après l'obtention d'unBac scientifique, il est orienté au CBCG de 
                     Cocody où il étudie la Finance Comptabilité.
                  </p>
                  <p class="lorem-acc">
                    Toujours en quête de savoir, il décide de faire un tour en Europe.
                    C'est ainsi que le 18 août 2015, il pose ses valises en Suisse.
                    Les réalités du pays hôte le contraignent à la dépravation sexuelle
                    suivie de son corolaire, la drogue.
                  </p>
                  <p class="lorem-acc">
                   Devenue toxicomane, sans repère et dans l'impossibilité d'avoir du boulot
                   sans son pays d'accueil, la drogue devint.
                    Maecenas ligula massa, varius a, semper congue, euismod non.
                  </p>
                </article><!--/ac-text-->
              </div><!--/ac-->
        
              <div class="ac">
                <input class="ac-input" id="ac-3" name="ac-3" type="checkbox" />
                <label class="ac-label" for="ac-3">3. Autres</label>
                
                <article class="ac-text">
                  <p class="lorem-acc">
                    <span>Job Sodjinou</span> est née le 19 Mars 1981 à Koumassi, Abidjan.
                     Béninois d'origine, il est le 5ème garçon d'une famille de 9 enfants.
                     Après l'obtention d'unBac scientifique, il est orienté au CBCG de 
                     Cocody où il étudie la Finance Comptabilité.
                  </p>
                  <p class="lorem-acc">
                    Toujours en quête de savoir, il décide de faire un tour en Europe.
                    C'est ainsi que le 18 août 2015, il pose ses valises en Suisse.
                    Les réalités du pays hôte le contraignent à la dépravation sexuelle
                    suivie de son corolaire, la drogue.
                  </p>
                  <p class="lorem-acc">
                   Devenue toxicomane, sans repère et dans l'impossibilité d'avoir du boulot
                   sans son pays d'accueil, la drogue devint.
                    Maecenas ligula massa, varius a, semper congue, euismod non.
                  </p>
                </article><!--/ac-text-->
              </div><!--/ac-->
          </div>


        <div class="col-md-6 py-5">
            <div class="card">
                <p class="anonyme text-center mt-4">
                    Voulez-vous faire une suggestion de façon anonyme ?<br><br>
                    <span class="anony" onclick="myFunction()">Oui</span> &nbsp; &nbsp; <span class="anony">Non</span>
                  </p>
            

                <form style="padding-left: 25px; padding-right: 25px; padding-bottom: 25px;">
                  <div id="prof">
                    <div class="form-group mb-4">
                      <input type="text" class="form-control" placeholder="Pacôme">
                  </div>
                  <div class="form-group mb-4">
                      <input type="text" class="form-control" placeholder="Kouadio">
                  </div>
                  </div>
                    <div class="form-group mb-2">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" placeholder="Faites votre suggestion..."></textarea>
                    </div>
                    <div class="text-center">
                        <div class="row mt-4 mb-2">
                            <div class="col-4"></div>
                            <div class="col-4">
                                <button type="submit" class="btn btn-block mbn" style="background-color: #b550ec !important;color: #fff;">Envoyer</button>
                            </div>
                            <div class="col-4"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>

<!-- le menu (debut) -->
<header>
    <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" id="closeNav" (click)="closeClickMenu()">&times;</a>
    <div class="overlay-content">
        <div class="row mt-4 mb-4 text-center">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center" (click)="openClickMenu()">
                <div id="svice-icon">
                    <img  class="toggle-button" src="../../../assets/icones/logo-section.jpg" />
                </div>
            </div>
            <div class="col-md-4"></div>
        </div><br>
        <a class="lover" routerLink="/section-accueil">Accueil</a>
        <a class="lover" routerLink="/presentation-section">Présentation</a>
        <a class="lover" routerLink="/mission-accueil-section">Mission</a>
        <a class="lover" routerLink="/agence-fond-section">Agences / Fonds</a>
        <a class="lover" routerLink="/membres-section">Membres</a>
        <a class="lover" routerLink="/dons-section">Dons</a>
        <a class="lover" routerLink="/blog-section">Blog</a>
        <a class="lover" routerLink="/suggestions-plaintes-section">Suggestions / Plaintes</a>
        <a class="lover" routerLink="/partenaires-section">Partenaires</a>
      <ul>
        <span><a href="#">
          <i class="fab fa-facebook-f"></i>
      </a></span>&nbsp;
      <span><a href="#">
          <i class="fab fa-twitter"></i>
      </a></span>&nbsp;
      <span><a href="#">
          <i class="fab fa-linkedin-in"></i>
      </a></span>&nbsp;
      <span><a href="#">
          <i class="fab fa-instagram"></i>
      </a></span>&nbsp;
      <span><a href="#">
          <i class="fab fa-youtube"></i>
      </a></span>
        <br>
        <small> &copy;2020 - ONG N'GBOADÔ</small>
        <br><br><br>
    </ul>
    </div>
    </div>
  </header>
<!-- le menu (fin) -->