body{
  font-family: 'Nunito' sans-serif;
}


#firstPop, #twoPop, #threePop{
  display: none;
}

#ligne-text-header{
  line-height: 50px;
}

.bidul{
  color: transparent;
}

/*Bg image*/
@media screen and (max-width: 767px) {
  #cache{
      display: none !important;
  }
}
#header{
  width: 100%;
  height: 100vh;
  background: #000;
  position: relative;
  overflow: hidden;
}
#header::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  background: url("../../../../assets/images/missionAcc.jpg") no-repeat;
  background-size: cover;
  opacity: .3;
}
#page-contenu{
  position: relative;
  top: 50%;
  z-index: 1;
  width: 100%;
  text-align: center;
}

/*logo*/
#svice-icon{
  cursor: pointer;
  display: inline-block;
  box-shadow: 0px 0px 0px 30px rgba(255,255,255,0.3);
  color: #276070;
  background: #fbfcfa;
  border-radius: 50%;
  text-align: center;
  transition: 0.3s linear;
}
#svice-icon img{
  left: 50%;
  height: 100px;
  border-radius: 50%;
  width: 100px;
}
/* 
/*logo*/

/*logo animation start*/
.loader-logo {
 overflow: hidden;
 transform: translatey(0px);
 -webkit-animation: float 3s ease-in-out infinite;
         animation: float 3s ease-in-out infinite;
}


@-webkit-keyframes float {
 0% {
   transform: translatey(0px);
 }
 50% {
   transform: translatey(-20px);
 }
 100% {
   transform: translatey(0px);
 }
}

@keyframes float {
 0% {
   transform: translatey(0px);
 }
 50% {
   transform: translatey(-20px);
 }
 100% {
   transform: translatey(0px);
 }
}
/*logo animation end*/
/*logo style end*/
/*Bg image style end*/


/* section 1 style start */
ol,
ul {
   margin: 0;
   padding: 0;
   list-style: none;
}
a, 
a:hover, 
a:focus {
   outline: none;
   text-decoration: none;
   color: inherit;
}
img{
  height: 100vh;
  width: 100%;
}
.mesimg{
 margin-top: 13%;
  width: 40px !important;
  height: 40px !important;
  }

  .Texte{
    font-weight: 800;
  }
/*...................... section 1 style end....................... */


.container-menu {
  width: 350px;
  height: 300px;
  position: fixed;
  top: 51%;
  margin-left: 24%;
  transform: translate(-50%,-50%);
}
.btn-menu {
  width: 570px;
  height: 307px;
  background: #333;
  position: absolute;
  top: 500px;
  left: 7%;
  transform: translate(-50%,-50%);
  z-index: 20;
  cursor: pointer;
  
}

.menu1{
  background: #f5f;
  margin-left: 7% !important;
}
.menu2{
  background: rgb(53, 23, 53);
  margin-left: 7%;

}
.menu3{
  background: #f8f;
  margin-left: 7%;

}


.blob {
  width: 150px;
  height: 50px;
  border-radius: 3%;
  background: #f1f1f1;
  position: absolute;
  top: 500px;
  left: 20%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.blob-1 {
  background-image: linear-gradient(to left,#019969 , #336699);
  transition: all 0.2s 0.1s ease-in-out;
  cursor: pointer;
  padding-top: 11px;
}
.blob-2 {
  background-image: linear-gradient(to right,#019969 , #336699);
  transition: all 0.2s 0.2s ease-in-out;
  cursor: pointer;
  padding-top: 11px;
}


/* Animation */

.container-menu.active .blob-1 {
  top: 380px;
  left: -27%;
}
.container-menu.active .blob-2 {
  top: 380px;
  left: 30%;
}

/* ....................... */
.overlay {
  background-image: url("../../../../assets/images/missionAcc.jpg");
}