/**
 * Tabs
 */
.tabs {
    display: flex;
    flex-wrap: wrap;
  }
  
  .tabs label {
    order: 1;
    display: block;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background: #90CAF9;
    font-weight: bold;
    transition: background ease 0.2s;
  }
  
  .tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #fff;
  }
  
  .tabs input[type=radio] {
    display: none;
  }
  
  .tabs input[type=radio]:checked + label {
    background: #fff;
  }
  
  .tabs input[type=radio]:checked + label + .tab {
    display: block;
  }
  
  @media (max-width: 45em) {
    .tabs .tab,
  .tabs label {
      order: initial;
    }
  
    .tabs label {
      width: 100%;
      margin-right: 0;
      margin-top: 0.2rem;
    }
  }
  /**
   * Generic Styling
  */
  body {
    background: #eee;
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 10vh;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    max-width: 60rem;
    margin: 0 auto;
    font-size: 112%;
  }





#member-slider {
    width: 100%;
    height: 300px;
    position: relative;
}

#logo-image {
    display: inline-block;
    box-shadow: 0px 0px 0px 8px rgba(243, 239, 239, 0.384);
    background: #fff;
    border-radius: 50%;
    text-align: center;
    transition: 0.3s linear;
}

#logo-image img {
    height: 125px;
    border-radius: 50%;
    width: 125px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: #ccc;
    color: rgb(32, 32, 32);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 86%;
    left: 30%;
    margin-left: -50px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ccc transparent;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 2px;
    background: #fff;
    cursor: pointer;
    z-index: 99;
}

.arrow--next {
    right: 0;
}

.slider {
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
}

.slider .slider__item {
    width: 20%;
    height: 200px;
    background: transparent;
    transform-origin: 50% 50%;
    cursor: pointer;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    opacity: 0;
    z-index: 10;
}

.slider .slider__item[data-position="0"] {
    left: 50%;
    z-index: 25;
    opacity: 1;
}

.slider__item[data-position="0"] .tooltiptext {
    visibility: visible;
}

.slider .slider__item[data-position="1"],
.slider .slider__item[data-position="4"] {
    width: 150px;
    height: 200px;
    opacity: 0.6;
    background: transparent;
    z-index: 20;
}

.slider .slider__item[data-position="1"] {
    left: 27%;
}

.slider .slider__item[data-position="4"] {
    left: 63%;
}

.slider .slider__item[data-position="2"],
.slider .slider__item[data-position="3"] {
    width: 150;
    height: 200px;
    opacity: 0.6;
    background: transparent;
    z-index: 1000;
}

.slider .slider__item[data-position="2"] {
    left: 12.5%;
}

.slider .slider__item[data-position="3"] {
    left: 87.5%;
}

/* le menu style start */
.overlay {
    background-image: url("../../../assets/images/bg-accueil.jpg");
  }
  /* le menu style end */