<!-- le menu (debut) -->
<header>
  <div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" id="closeNav" (click)="closeClickMenu()">&times;</a>
  <div class="overlay-content">
      <div class="row mt-4 mb-4 text-center">
          <div class="col-md-4"></div>
          <div class="col-md-4 text-center" (click)="openClickMenu()">
              <div id="svice-icon">
                  <img  class="toggle-button" src="../../../assets/icones/logo-regional.jpg" />
              </div>
          </div>
          <div class="col-md-4"></div>
      </div><br>
      <a class="lover" routerLink="/regional-accueil">Accueil</a>
        <a class="lover" routerLink="/presentation-regional">Présentation</a>
        <a class="lover" routerLink="/mission-accueil-regional">Mission</a>
        <a class="lover" routerLink="/agence-fond-regional">Agences / Fonds</a>
        <a class="lover" routerLink="/membres-regional">Membres</a>
        <a class="lover" routerLink="/dons-regional">Dons</a>
        <a class="lover" routerLink="/blog-regional">Blog</a>
        <a class="lover" routerLink="/suggestions-plaintes-regional">Suggestions / Plaintes</a>
        <a class="lover" routerLink="/partenaires-regional">Partenaires</a>
    <ul>
      <span><a href="#">
        <i class="fab fa-facebook-f"></i>
    </a></span>&nbsp;
    <span><a href="#">
        <i class="fab fa-twitter"></i>
    </a></span>&nbsp;
    <span><a href="#">
        <i class="fab fa-linkedin-in"></i>
    </a></span>&nbsp;
    <span><a href="#">
        <i class="fab fa-instagram"></i>
    </a></span>&nbsp;
    <span><a href="#">
        <i class="fab fa-youtube"></i>
    </a></span>
      <br>
      <small> &copy;2020 - ONG N'GBOADÔ</small>
      <br><br><br>
  </ul>
  </div>
  </div>
</header>
<!-- le menu (fin) -->
<!--image d'accueil start-->
<div class="landing-page">
  <div class="page-content py-5" style="margin-top: 25% !important;">
      <div class="row text-center py-5">
          <div class="col-md-4"></div>
          <div class="col-md-4 text-center" (click)="openClickMenu()">
              <div class="loader-logo" id="svice-icon">
                  <img  class="toggle-button" src="../../../assets/icones/logo-regional.jpg" />
              </div>
          </div>
          <div class="col-md-4"></div>
      </div>

      <section class="py-4">
          <div class="text-center">
              <h1 style="color: #fff;font-weight: 700;">Faire un don</h1>
              <p>Le meilleur modèle multi-page polyvalent</p>
          </div>
      </section>
      <section class="py-3">
          <hr style="background-color: rgb(255, 255, 255);">
      </section>
      <section class="py-3">
          <form action="">
              <div class="row">
                  <!-- Identité donateur -->
                  <div class="col-xs-6 col-sm-4 mt-2 mb-2">
                      <span class="don_txt">Identité donateur*</span><br>
                      <div class="row py-3">
                          <div class="col-3"></div>
                          <div class="col-3">
                              <input type="radio" name="identiteDonateur" id="identiteDonateur1" checked><br>
                              <label for="identiteDonateur1">Anonyme</label>
                          </div>
                          <div class="col-3">
                              <input type="radio" name="identiteDonateur" id="identiteDonateur2" ><br>
                              <label for="identiteDonateur2">Visible</label>
                          </div>
                          <div class="col-3"></div>
                      </div> 
                      <div class="row">
                          <div class="col-md-3"></div>
                          <div class="col-md-6">
                              <input type="text" class="form-control" id="name" placeholder="   xxxxxxxxxxxxxxxxxxx   " name="name">
                          </div>
                          <div class="col-md-3"></div>
                      </div>
                  </div>
                  <!--/- Identité donateur -->
                  <!-- Type dons -->
                  <div class="col-xs-6 col-sm-4 mt-2 mb-2">
                      <span class="don_txt">Type dons*</span><br>
                      <div class="row py-3">
                          <div class="col-2"></div>
                          <div class="col-2">
                              <input type="radio" name="typeDons" id="typeDonsNatureInput" value="nature" checked><br>
                              <label for="typeDonsNatureInput">Nature</label>
                          </div>
                          <div class="col-1"></div>
                          <div class="col-2">
                              <input type="radio" name="typeDons" id="typeDonsEspeceInput" value="espece" ><br>
                              <label for="typeDonsEspeceInput">Espèce</label>
                          </div>
                          <div class="col-1"></div>
                          <div class="col-2">
                              <input type="radio" name="typeDons" id="typeDonsAutreInput" value="autre" ><br>
                              <label for="typeDonsAutreInput">Autre</label>
                          </div>
                          <div class="col-2"></div>
                      </div>

                      <div class="row">
                          <div class="col-md-2"></div>
                          <div class="col-md-8">
                              <div id="typeDonsNature" style="display: block;">
                                  <input type="text" class="form-control" id="name" placeholder="   xxxxxxxxxxxxxxxxxxx   " name="name">
                              </div>
                              <div id="typeEspece" style="display: none;">
                                  <div class="row">
                                      <div class="col-6">
                                          <input type="text" class="form-control" id="name" placeholder=" Carte Bancaire " name="name">
                                      </div>
                                      <div class="col-1"></div>
                                      <div class="col-5">
                                          <input type="text" class="form-control" id="name" placeholder=" Mobile Money " name="name">
                                      </div>
                                  </div>
                              </div>
                              <div id="typeDonsAutre" style="display: none;">
                                  <input type="text" class="form-control" id="name" placeholder="   xxxxxxxxxxxxxxxxxxx   " name="name">
                              </div>
                          </div>
                          <div class="col-md-2"></div>
                      </div>
                  </div>
                  <!--/- Type dons -->
                  <!-- Bénéficiaire -->
                  <div class="col-xs-6 col-sm-4 mt-2 mb-2">
                      <span class="don_txt">Bénéficiaire*</span><br>
                      <div class="row py-3">
                          <div class="col-2"></div>
                          <div class="col-2">
                              <input type="radio" name="beneficiaire" id="beneficiaireOngInput" value="ong" checked><br>
                              <label for="beneficiaireOngInput">ONG</label>
                          </div>
                          <div class="col-1"></div>
                          <div class="col-2">
                              <input type="radio" name="beneficiaire" id="beneficiaireProgrammesInput" value="programmes"><br>
                              <label for="beneficiaireProgrammesInput">Programmes</label>
                          </div>
                          <div class="col-1"></div>
                          <div class="col-2">
                              <input type="radio" name="beneficiaire" id="beneficiaireFondsInput" value="fonds"><br>
                              <label for="beneficiaireFondsInput">Fonds</label>
                          </div>
                          <div class="col-2"></div>
                      </div> 
                      <div class="row">
                          <div class="col-md-2"></div>
                          <div class="col-md-8">
                              <div id="beneficiaireOng" style="display: block;">
                                  <input type="text" class="form-control" id="name" placeholder="   xxxxxxxxxxxxxxxxxxx   " name="name">
                              </div>
                              <div id="beneficiaireProgrammeSelect" style="display: none;">
                                  <label class="custom-select" for="styledSelect1">
                                      <select id="styledSelect1" name="options">
                                          <option value="">Selectionner un programme</option>
                                          <option value="1">Option 1</option>
                                          <option value="2">Option 2</option>
                                          <option value="3">Option 3</option>
                                          <option value="4">Option 4</option>
                                      </select>
                                  </label>
                              </div>
                              <div id="beneficiaireFondSelect" style="display: none;">
                                  <label class="custom-select" for="styledSelect1">
                                      <select id="styledSelect1" name="options">
                                          <option value="">Selectionner un fond</option>
                                          <option value="1">Option 1</option>
                                          <option value="2">Option 2</option>
                                          <option value="3">Option 3</option>
                                          <option value="4">Option 4</option>
                                      </select>
                                  </label>
                              </div>
                          </div>
                          <div class="col-md-2"></div>
                      </div>
                  </div>
                  <!--/- Bénéficiaire -->
              </div>
              <!-- Bouton de validation -->
              <div class="row py-5">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                      <button type="submit" class="btn btn-outline">
                          Valider
                      </button>
                  </div>
                  <div class="col-md-4"></div>
              </div>
              <!--/- Bouton de validation -->
          </form>
      </section>
  </div>
</div>
<!--image d'accueil end-->