<div class="landing-page">
    <div class="page-content">
        <div class="grid-logo">
      <div class="logo-gauche"></div>
      <div class="logo-milieu">
          <div class="svice-box">
            <div class="svice-icon loader-logo">
              <img src="./../assets/icones/1_ngboado_logo.png" />
            </div>
          </div>
      </div>
      <div class="logo-droite"></div>
    </div>

       <p><span class="prest">Présentation</span> <br>
        <span class="march">Dans le marché</span><br>
        <span>Le meilleur modèle multi-page polyvalent</span>
      </p><br><br><br><br><br>
      <hr style="color: #fff;">
    </div>
  </div>
<!-- section 1 présentation end-->


<section>
<div class="row">
  <div class="col-md-6">
    <div class="accordion">
      <div class="accordion-item">
        <div class="accordion-item-header"  style="background-image: linear-gradient(to right, #019939, #336699);color: white; border-radius: 0.2rem;">
          1. Historique
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            <p class="lorem-acc">
              <span>Job Sodjinou</span> est née le 19 Mars 1981 à Koumassi, Abidjan.
              Béninois d'origine, il est le 5ème garçon d'une famille de 9 enfants.
              Après l'obtention d'unBac scientifique, il est orienté au CBCG de 
              Cocody où il étudie la Finance Comptabilité.
            </p>
            <p class="lorem-acc">
              Toujours en quête de savoir, il décide de faire un tour en Europe.
              C'est ainsi que le 18 août 2015, il pose ses valises en Suisse.
              Les réalités du pays hôte le contraignent à la dépravation sexuelle
              suivie de son corolaire, la drogue.
            </p>
            <p class="lorem-acc">
              Devenue toxicomane, sans repère et dans l'impossibilité d'avoir du boulot
              sans son pays d'accueil, la drogue devint.
               Maecenas ligula massa, varius a, semper congue, euismod non.
             </p>
            <button type="button" class="btn btn-primary"> Lire la suite</button>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <div class="accordion-item-header monacc" onclick="changeBgColor('#019939')">
          2. L'assemblée générale
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            <p class="lorem-acc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
             Sed non risus. Suspendisse lectus tortor, dignissim sit amet,
              adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.
               Maecenas ligula massa, varius a, semper congue, euismod non.
            </p>
            <p class="lorem-acc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Sed non risus. Suspendisse lectus tortor, dignissim sit amet.
              Maecenas ligula massa, varius a, semper congue, euismod non.
            </p>
            <p class="lorem-acc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Sed non risus. Suspendisse lectus tortor, dignissim sit amet.
              Maecenas ligula massa, varius a, semper congue, euismod non.
            </p>
          <button type="button" class="btn btn-primary"> Lire la suite</button>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <div class="accordion-item-header">
          3. Le conseil d'administration
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            <p class="lorem-acc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
             Sed non risus. Suspendisse lectus tortor, dignissim sit amet,
              adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.
               Maecenas ligula massa, varius a, semper congue, euismod non.
            </p>
            <p class="lorem-acc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Sed non risus. Suspendisse lectus tortor, dignissim sit amet.
              Maecenas ligula massa, varius a, semper congue, euismod non.
            </p>
            <p class="lorem-acc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Sed non risus. Suspendisse lectus tortor, dignissim sit amet.
              Maecenas ligula massa, varius a, semper congue, euismod non.
            </p>
          <button type="button" class="btn btn-primary"> Lire la suite</button>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <div class="accordion-item-header">
          4. Le sécrétariat
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            <p class="lorem-acc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
             Sed non risus. Suspendisse lectus tortor, dignissim sit amet,
              adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.
               Maecenas ligula massa, varius a, semper congue, euismod non.
            </p>
            <p class="lorem-acc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Sed non risus. Suspendisse lectus tortor, dignissim sit amet.
              Maecenas ligula massa, varius a, semper congue, euismod non.
            </p>
            <p class="lorem-acc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Sed non risus. Suspendisse lectus tortor, dignissim sit amet.
              Maecenas ligula massa, varius a, semper congue, euismod non.
            </p>
          <button type="button" class="btn btn-primary"> Lire la suite</button>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <div class="accordion-item-header">
          6. Le conseil économique, social et environnemental
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            <p class="lorem-acc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
             Sed non risus. Suspendisse lectus tortor, dignissim sit amet,
              adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.
               Maecenas ligula massa, varius a, semper congue, euismod non.
            </p>
            <p class="lorem-acc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Sed non risus. Suspendisse lectus tortor, dignissim sit amet.
              Maecenas ligula massa, varius a, semper congue, euismod non.
            </p>
            <p class="lorem-acc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Sed non risus. Suspendisse lectus tortor, dignissim sit amet.
              Maecenas ligula massa, varius a, semper congue, euismod non.
            </p>
          <button type="button" class="btn btn-primary"> Lire la suite</button>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <div class="accordion-item-header">
          6. Le conseil économique, social et environnemental
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            <p class="lorem-acc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
             Sed non risus. Suspendisse lectus tortor, dignissim sit amet,
              adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.
               Maecenas ligula massa, varius a, semper congue, euismod non.
            </p>
            <p class="lorem-acc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Sed non risus. Suspendisse lectus tortor, dignissim sit amet.
              Maecenas ligula massa, varius a, semper congue, euismod non.
            </p>
            <p class="lorem-acc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Sed non risus. Suspendisse lectus tortor, dignissim sit amet.
              Maecenas ligula massa, varius a, semper congue, euismod non.
            </p>
          <button type="button" class="btn btn-primary"> Lire la suite</button>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <div class="accordion-item-header">
          7. La cour universelle de justice
        </div>
        <div class="accordion-item-body">
          <div class="accordion-item-body-content">
            <p class="lorem-acc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
             Sed non risus. Suspendisse lectus tortor, dignissim sit amet,
              adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.
               Maecenas ligula massa, varius a, semper congue, euismod non.
            </p>
            <p class="lorem-acc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Sed non risus. Suspendisse lectus tortor, dignissim sit amet.
              Maecenas ligula massa, varius a, semper congue, euismod non.
            </p>
            <p class="lorem-acc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Sed non risus. Suspendisse lectus tortor, dignissim sit amet.
              Maecenas ligula massa, varius a, semper congue, euismod non.
            </p>
          <button type="button" class="btn btn-primary"> Lire la suite</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <img src="../../assets/icones/1_ngboado_logo.png" width="530" height="497" alt="">
    </div>
  </div>
</div>

</section> 
    <!-- section 2 accordion end -->