body{
  font-family: 'Nunito' sans-serif;
  margin: 0px;
  padding: 0;
}

/*Bg image style start*/
.landing-page{
 width: 100%;
 height: 100vh;
 background: #000;
 position: relative;
 overflow: hidden;
}
.landing-page::after{
 content: "";
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100vh;
 background: url("../../assets/images/present-bg.jpg") no-repeat;
 background-size: cover;
 opacity: .3;
}

.image-clignote  {
  animation-duration: .8s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;
}
@keyframes clignoter {
 0%   { opacity:1; }
 40%   {opacity:0; }
 100% { opacity:1; }
}

.page-content{
 position: absolute;
 top: 40%;
 left: 50%;
 transform: translate(-50%,-50%);
 z-index: 1;
 width: 100%;
 max-width: 1430px;
 text-align: center;
 padding: 0 40px;
 box-sizing: border-box;
}
.page-content h2{
 color: #fff;
 font-size: 38px;
}

.march{
  color: #ffffff;
  font-size: 43px;
}

.prest{
  color: #ffffff;
  font-size: 39px;
  font-weight: 900;
}

.page-content p{
 color: #fff;
 font-size: 20px;
}

/*logo style start*/
.grid-logo {
     display: grid;
     grid-template-areas: 'gauche gauche milieu milieu droite droite';
     grid-gap: 10px;
     color: #fff;
     padding: 10px;
     margin-bottom: 80px;
   }
.grid-logo > div{
     background-color: transparent;
     text-align: center;
     padding: 20px 0;
}
.logo-gauche { grid-area: gauche; }
.logo-droite { grid-area: droite; }
.logo-milieu { grid-area: milieu; }
.svice-box {
  margin-top: 105px;
}
.svice-icon{
     display: inline-block;
     box-shadow: 0px 0px 0px 30px rgba(255,255,255,0.3);
     color: #276070;
     background: #fbfcfa;
     border-radius: 50%;
     text-align: center;
     transition: 0.3s linear;
   }
.svice-icon img{
     left: 50%;
     height: 100px;
     border-radius: 50%;
     width: 100px;
   }

   /*logo animation start*/
.loader-logo {
overflow: hidden;
transform: translatey(0px);
-webkit-animation: float 3s ease-in-out infinite;
        animation: float 3s ease-in-out infinite;
}


@-webkit-keyframes float {
0% {
  transform: translatey(0px);
}
50% {
  transform: translatey(-20px);
}
100% {
  transform: translatey(0px);
}
}

@keyframes float {
0% {
  transform: translatey(0px);
}
50% {
  transform: translatey(-20px);
}
100% {
  transform: translatey(0px);
}
}
/*logo animation end*/

/*logo style end*/
/*Bg image style end*/


/* section 2 accordion */
.accordion {
width: 60%;
max-width: 900px;
margin: 7rem ;
}
.accordion-item {
color: #4d4d4d;
margin: 1rem 0;
border-radius: 0.2rem;
border: 1px solid #f1f1f1;
-webkit-border-radius: 0.2rem;
-moz-border-radius: 0.2rem;
-ms-border-radius: 0.2rem;
-o-border-radius: 0.2rem;
font-size: 15px;
}
.accordion-item-header {
padding: 0.5rem 3rem 0.5rem 1rem;
min-height: 3.5rem;
line-height: 1.25rem;
font-weight: bold;
display: flex;
align-items: center;
position: relative;
cursor: pointer;
border-radius: 0.2rem;
}
.accordion-item-header::after {
content: "\002B";
font-size: 2rem;
position: absolute;
right: 1rem;
background: linear-gradient(left, #019939, #336699) !important;

}
.accordion-item-header.active::after {
content: "\2212";
}
.accordion-item-body {
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
padding: 1rem;
line-height: 1.5rem;
border-top: 1px solid;
}

.btn-primary{
background-image: linear-gradient(to right, #019939, #336699);
border: none !important;
color: #fff;
}

.lorem-acc{
font-size: 13px;
color: #4d4d4d;
font-weight: 500;
}

.card{
background-color: #f1f1f1;
/* box-shadow: 15 40px 15px 0px rgba(74, 26, 26, 0.2); */
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
margin-top: 7rem;
width: 530px;
height: 500px;
}
/* section 2 accordion*/