<p>partenaires works!</p>
<!-- le menu (debut) -->
<header>
    <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" id="closeNav" (click)="closeClickMenu()">&times;</a>
    <div class="overlay-content">
        <div class="row mt-4 mb-4 text-center">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center" (click)="openClickMenu()">
                <div id="svice-icon">
                    <img  class="toggle-button" src="../../../assets/icones/logo.png" />
                </div>
            </div>
            <div class="col-md-4"></div>
        </div><br>
      <a class="lover" routerLink="/">Accueil</a>
      <a class="lover" routerLink="/presentation">Présentation</a>
      <a class="lover" routerLink="/mission-accueil">Mission</a>
      <a class="lover" routerLink="/agence-fond">Agences / Fonds</a>
      <a class="lover" routerLink="/membres">Membres</a>
      <a class="lover" routerLink="/dons">Dons</a>
      <a class="lover" routerLink="/blog">Blog</a>
      <a class="lover" routerLink="/suggestions-plaintes">Suggestions / Plaintes</a>
      <a class="lover" routerLink="/partenaires">Partenaires</a>
      <ul>
        <span><a href="#">
            <i class="fab fa-facebook-f"></i>
        </a></span>
        <span><a href="#">
            <i class="fab fa-twitter"></i>
        </a></span>
        <span><a href="#">
            <i class="fab fa-linkedin-in"></i>
        </a></span>
        <span><a href="#">
            <i class="fab fa-instagram"></i>
        </a></span>
        <span><a href="#">
            <i class="fab fa-youtube"></i>
        </a></span>
        <br>
        <small> &copy;2020 - ONG N'GBOADÔ</small>
        <br><br><br>
    </ul>
    </div>
    </div>
  </header>
<!-- le menu (fin) -->