 <section class="section1">
  <!-- le logo (debut) -->
  <div class="row mt-4 mb-4 text-center">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center" (click)="openClickMenu()">
        <div class="loader-logo" id="svice-icon">
            <img  class="toggle-button" src="../../../assets/icones/logo.png" />
        </div>
    </div>
    <div class="col-md-4"></div>
 </div>
<!-- le logo (fin) -->

 
<!-- le titre (debut) -->
<div class="row mt-4 mb-4 text-center">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      <div class="Cat">Catégorie &nbsp;&nbsp;&nbsp; +</div>
    </div>
    <div class="col-md-4"></div>
</div>
<!-- le titre (fin) -->
<br>
</section> 
<section>
    <section class="mt-4 mb-4" id="members-slider">
        <div id="member-slider" class="container-fluid">
            <div class="arrow arrow--prev"></div>
            <section class="slider" data-component='slider'>
                <div class="slider__item tooltip sldr_it1" data-slider="X1" data-position="0">
                    <div class="" data-toggle="modal" data-target="#exampleModal">
                        <img src="../../../assets/images/Logo-PNUD.jpg" style="width: 235px;height: 300px;" alt="">
                        <div class="tooltiptext text-center">
                            <h6>Logo-PNUD</h6>
                            <p>Partenaires Institutionnel</p>
                        </div>
                    </div>
                </div>
                <div class="slider__item tooltip sldr_it2" data-slider="X2" data-position="1">
                    <img src="../../../assets/images/UFHB.jpg" style="width: 235px;height: 300px;" alt="">
                    <div class="tooltiptext text-center">
                        <h6>UFHB</h6>
                        <p>Partenaires Universitaire</p>
                    </div>
                </div>
                <div class="slider__item tooltip sldr_it3" data-slider="X3" data-position="2">
                    <img src="../../../assets/images/CNDHCI.jpg" style="width: 235px;height: 300px;" alt="">
                    <div class="tooltiptext text-center">
                        <h6>CNDHCI</h6>
                        <p>Partenaires Institutionnel</p>
                    </div>
                </div>
                <div class="slider__item tooltip sldr_it4" data-slider="X4" data-position="3">
                    <img src="../../../assets/images/kisspng.png" style="width: 235px;height: 300px;" alt="">
                    <div class="tooltiptext text-center">
                        <h6>kisspng</h6>
                        <p>Partenaires Institutionnel</p>
                    </div>
                </div>
                <div class="slider__item tooltip xt5" data-slider="X5" data-position="4">
                    <div class="sldr_it5">
                        <img src="../../../assets/images/republique_CI.png" style="width: 235px;height: 300px;" alt="">
                        <div class="tooltiptext text-center">
                            <h6>republique_CI</h6>
                            <p>Partenaires Institutionnel</p>
                        </div>
                    </div>
                </div>
                <div class="slider__item tooltip xt6" data-slider="X6" data-position="5">
                    <div class="sldr_it6">
                        <img src="../../../assets/images/UFHB.jpg" style="width: 235px;height: 300px;" alt="">
                        <div class="tooltiptext text-center">
                            <h6>JPG</h6>
                            <p>Partenaires Institutionnel</p>
                        </div>
                    </div>
                </div>
                <div class="slider__item tooltip xt7" data-slider="X7" data-position="6">
                    <div class="sldr_it7">
                        <img src="../../../assets/images/homme4.png" style="width: 235px;height: 300px;" alt="">
                        <div class="tooltiptext text-center">
                            <h6>Logo-PNUD6</h6>
                            <p>Partenaires Institutionnel</p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="arrow arrow--next"></div>
        </div>
    </section>
</section><br><br>
<!-- La barre de recherche -->
<br><br>
<div class="monForm" style="margin-left: 540px;">
  <form>
    <div class="form-group row">
      <div class="col-sm-6">
        <i class="fa fa-search"></i>
        <input type="search" class="form-control" placeholder="Recherche">
      </div>
    </div>
  </form>
</div>
<!-- La barre de recherche -->

<!-- le menu (debut) -->
<header>
    <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" id="closeNav" (click)="closeClickMenu()">&times;</a>
    <div class="overlay-content">
        <div class="row mt-4 mb-4 text-center">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center" (click)="openClickMenu()">
                <div id="svice-icon">
                    <img  class="toggle-button" src="../../../assets/icones/logo.png" />
                </div>
            </div>
            <div class="col-md-4"></div>
        </div><br>
      <a class="lover" routerLink="/">Accueil</a>
      <a class="lover" routerLink="/presentation">Présentation</a>
      <a class="lover" routerLink="/mission-accueil">Mission</a>
      <a class="lover" routerLink="/agence-fond">Agences / Fonds</a>
      <a class="lover" routerLink="/membres">Membres</a>
      <a class="lover" routerLink="/dons">Dons</a>
      <a class="lover" routerLink="/blog">Blog</a>
      <a class="lover" routerLink="/suggestions-plaintes">Suggestions / Plaintes</a>
      <a class="lover" routerLink="/partenaires">Partenaires</a>
      <ul>
        <span><a href="#">
            <i class="fab fa-facebook-f"></i>
        </a></span>&nbsp;
        <span><a href="#">
            <i class="fab fa-twitter"></i>
        </a></span>&nbsp;
        <span><a href="#">
            <i class="fab fa-linkedin-in"></i>
        </a></span>&nbsp;
        <span><a href="#">
            <i class="fab fa-instagram"></i>
        </a></span>&nbsp;
        <span><a href="#">
            <i class="fab fa-youtube"></i>
        </a></span>
        <br>
        <small> &copy;2020 - ONG N'GBOADÔ</small>
        <br><br><br>
    </ul>
    </div>
    </div>
  </header>
<!-- le menu (fin) -->