<section class="container-fluid text-center">
  <div class="row mt-2 mb-2 text-center py-5">
      <div class="col-md-4"></div>
      <div class="col-md-4 text-center" (click)="openClickMenu()">
          <div class="loader-logo" id="svice-icon">
              <img  class="toggle-button" src="../../../../assets/icones/logo-regional.jpg" />
          </div>
      </div>
      <div class="col-md-4"></div>
   </div>

  <div class="tabs py-3">
      <input type="radio" name="tabs" id="tabone" checked="checked">
      <label for="tabone">Bureaux</label>
      <div class="tab">
        <!-- <h1>Tab One Content</h1> -->
        <section class="mt-4 mb-4" id="members-slider">
          <div id="member-slider" class="container-fluid">
              <div class="arrow arrow--prev"></div>
              <section class="slider" data-component='slider'>
                  <div class="slider__item tooltip sldr_it1" data-slider="X1" data-position="0">
                      <div id="X1" class="" data-toggle="" data-target="">
                          <img src="../../../assets/images/femme3.png" style="width: 235px;height: 300px;" alt="">
                          <div class="tooltiptext text-center">
                              <p><b>Charlie GARETH</b><br> Charge de communication</p>
                          </div>
                      </div>
                  </div>
                  <div class="slider__item tooltip sldr_it2" data-slider="X2" data-position="1">
                    <div id="X2" class="" data-toggle="" data-target="">
                      <img src="../../../assets/images/femme2.png" style="width: 235px;height: 300px;" alt="">
                      <div class="tooltiptext text-center">
                        <p><b>Charlie GARETH 1</b><br> Charge de communication</p>
                      </div>
                    </div>
                  </div>
                  <div class="slider__item tooltip sldr_it3" data-slider="X3" data-position="2">
                    <div id="X3" class="" data-toggle="" data-target="">
                      <img src="../../../assets/images/homme5.png" style="width: 235px;height: 300px;" alt="">
                      <div class="tooltiptext text-center">
                        <p><b>Charlie GARETH 2</b><br> Charge de communication</p>
                      </div>
                    </div>
                  </div>
                  <div class="slider__item tooltip sldr_it4" data-slider="X4" data-position="3">
                    <div id="X4" class="" data-toggle="" data-target="">
                      <img src="../../../assets/images/homme1.png" style="width: 235px;height: 300px;" alt="">
                      <div class="tooltiptext text-center">
                        <p><b>Charlie GARETH 3</b><br> Charge de communication</p>
                      </div>
                    </div>
                  </div>
                  <div class="slider__item tooltip sldr_it5 xt5" data-slider="X5" data-position="4">
                    <div id="X5" class="" data-toggle="" data-target="">
                      <img src="../../../assets/images/homme4.png" style="width: 235px;height: 300px;" alt="">
                      <div class="tooltiptext text-center">
                        <p><b>Charlie GARETH 4</b><br> Charge de communication</p>
                      </div>
                    </div>
                  </div>
                  <div class="slider__item tooltip sldr_it6 xt6" data-slider="X6" data-position="5">
                    <div id="X6" class="" data-toggle="" data-target="">
                      <img src="../../../assets/images/homme4.png" style="width: 235px;height: 300px;" alt="">
                      <div class="tooltiptext text-center">
                        <p><b>Charlie GARETH 5</b><br> Charge de communication</p>
                      </div>
                    </div>
                  </div>
                  <div class="slider__item tooltip sldr_it7 xt7" data-slider="X7" data-position="6">
                    <div id="X7" class="" data-toggle="" data-target="">
                      <img src="../../../assets/images/homme4.png" style="width: 235px;height: 300px;" alt="">
                      <div class="tooltiptext text-center">
                        <p><b>Charlie GARETH 6</b><br> Charge de communication</p>
                      </div>
                    </div>
                  </div>
              </section>
              <div class="arrow arrow--next"></div>
          </div>
      </section>

      </div>
      
      <input type="radio" name="tabs" id="tabtwo">
      <label for="tabtwo">Fondateurs</label>
      <div class="tab">
        <h1>Donateurs</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>

      <input type="radio" name="tabs" id="tabfour">
      <label for="tabfour">Honneurs</label>
      <div class="tab">
        <h1>Honneurs</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>

      <input type="radio" name="tabs" id="tabfive">
      <label for="tabfive">Assistants</label>
      <div class="tab">
        <h1>Assistants</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>

      <input type="radio" name="tabs" id="tabsix">
      <label for="tabsix">Actifs</label>
      <div class="tab">
        <h1>Actifs</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>


    </div>
</section>
<!-- La barre de recherche -->
<div class="row mt-4 text-center">
  <div class="col-md-4"></div>
  <div class="col-md-4 mt-4 text-center">
    <div class="Ags1">
      <form>
          <!-- <i class="fa fa-search"></i> -->
          <input type="search" class="form-control" placeholder="Recherche">
      </form>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
<!-- La barre de recherche -->

<!-- le menu (debut) -->
<header>
  <div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" id="closeNav" (click)="closeClickMenu()">&times;</a>
  <div class="overlay-content">
      <div class="row mt-4 mb-4 text-center">
          <div class="col-md-4"></div>
          <div class="col-md-4 text-center" (click)="openClickMenu()">
              <div id="svice-icon1">
                  <img  class="toggle-button" src="../../../assets/icones/logo-regional.jpg" />
              </div>
          </div>
          <div class="col-md-4"></div>
      </div><br>
      <a class="lover" routerLink="/regional-accueil">Accueil</a>
        <a class="lover" routerLink="/presentation-regional">Présentation</a>
        <a class="lover" routerLink="/mission-accueil-regional">Mission</a>
        <a class="lover" routerLink="/agence-fond-regional">Agences / Fonds</a>
        <a class="lover" routerLink="/membres-regional">Membres</a>
        <a class="lover" routerLink="/dons-regional">Dons</a>
        <a class="lover" routerLink="/blog-regional">Blog</a>
        <a class="lover" routerLink="/suggestions-plaintes-regional">Suggestions / Plaintes</a>
        <a class="lover" routerLink="/partenaires-regional">Partenaires</a>
    <ul>
      <span><a href="#">
          <i class="fab fa-facebook-f"></i>
      </a></span>&nbsp;
      <span><a href="#">
          <i class="fab fa-twitter"></i>
      </a></span>&nbsp;
      <span><a href="#">
          <i class="fab fa-linkedin-in"></i>
      </a></span>&nbsp;
      <span><a href="#">
          <i class="fab fa-instagram"></i>
      </a></span>&nbsp;
      <span><a href="#">
          <i class="fab fa-youtube"></i>
      </a></span>
      <br>
      <small> &copy;2020 - ONG N'GBOADÔ</small>
      <br><br><br>
  </ul>
  </div>
  </div>
</header>
<!-- le menu (fin) -->


<!-- Modal -->
<div class="modal fade" id="exampleModalCenterX1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div style="background: url('../../../assets/images/femme3.png')no-repeat;background-position: top;background-size: contain; align-items: center!important;" class="modal-dialog modal-dialog-centered  modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <br><br><br><br><br><br><br>
        <br><br><br><br>
      </div>
      <div class="modalTooltip">
        <div class="modalTooltiptext my-5">
          <div id="imageFermer" class="" data-dismiss="modal">
            <img style="width: 50px;height: 50px;" src="../../../assets/images/fermer.png" alt="">
          </div>
          <h1 id="texteMdal" class="py-2 text-center" style="font-weight: bold;">Charlie GARETH - Chargée de communication</h1>
          <p id="texteMdal" class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenterX2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div style="background: url('../../../assets/images/femme2.png')no-repeat;background-position: top;background-size: contain; align-items: center!important;" class="modal-dialog modal-dialog-centered  modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <br><br><br><br><br><br><br>
          <br><br><br><br>
        </div>
        <div class="modalTooltip">
          <div class="modalTooltiptext my-5">
            <div id="imageFermer" class="" data-dismiss="modal">
              <img style="width: 50px;height: 50px;" src="../../../assets/images/fermer.png" alt="">
            </div>
            <h1 id="texteMdal" class="py-2 text-center" style="font-weight: bold;">Charlie GARETH 1 - fonction</h1>
            <p id="texteMdal" class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenterX3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div style="background: url('../../../assets/images/homme5.png')no-repeat;background-position: top;background-size: contain; align-items: center!important;" class="modal-dialog modal-dialog-centered  modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <br><br><br><br><br><br><br>
          <br><br><br><br>
        </div>
        <div class="modalTooltip">
          <div class="modalTooltiptext my-5">
            <div id="imageFermer" class="" data-dismiss="modal">
              <img style="width: 50px;height: 50px;" src="../../../assets/images/fermer.png" alt="">
            </div>
            <h1 id="texteMdal" class="py-2 text-center" style="font-weight: bold;">Charlie GARETH 2 - fonction</h1>
            <p id="texteMdal" class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenterX4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div style="background: url('../../../assets/images/homme1.png')no-repeat;background-position: top;background-size: contain; align-items: center!important;" class="modal-dialog modal-dialog-centered  modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <br><br><br><br><br><br><br>
        <br><br><br><br>
      </div>
      <div class="modalTooltip">
        <div class="modalTooltiptext my-5">
          <div id="imageFermer" class="" data-dismiss="modal">
            <img style="width: 50px;height: 50px;" src="../../../assets/images/fermer.png" alt="">
          </div>
          <h1 id="texteMdal" class="py-2 text-center" style="font-weight: bold;">Charlie GARETH 3 - fonction</h1>
          <p id="texteMdal" class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenterX5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div style="background: url('../../../assets/images/homme4.png')no-repeat;background-position: top;background-size: contain; align-items: center!important;" class="modal-dialog modal-dialog-centered  modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <br><br><br><br><br><br><br>
          <br><br><br><br>
        </div>
        <div class="modalTooltip">
          <div class="modalTooltiptext my-5">
            <div id="imageFermer" class="" data-dismiss="modal">
              <img style="width: 50px;height: 50px;" src="../../../assets/images/fermer.png" alt="">
            </div>
            <h1 id="texteMdal" class="py-2 text-center" style="font-weight: bold;">Charlie GARETH 4 - fonction</h1>
            <p id="texteMdal" class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

     <!-- Modal -->
     <div class="modal fade" id="exampleModalCenterX6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div style="background: url('../../../assets/images/homme4.png')no-repeat;background-position: top;background-size: contain; align-items: center!important;" class="modal-dialog modal-dialog-centered  modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <br><br><br><br><br><br><br>
            <br><br><br><br>
          </div>
          <div class="modalTooltip">
            <div class="modalTooltiptext my-5">
              <div id="imageFermer" class="" data-dismiss="modal">
                <img style="width: 50px;height: 50px;" src="../../../assets/images/fermer.png" alt="">
              </div>
              <h1 id="texteMdal" class="py-2 text-center" style="font-weight: bold;">Charlie GARETH 5 - fonction</h1>
              <p id="texteMdal" class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


       <!-- Modal -->
  <div class="modal fade" id="exampleModalCenterX7" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div style="background: url('../../../assets/images/homme4.png')no-repeat;background-position: top;background-size: contain; align-items: center!important;" class="modal-dialog modal-dialog-centered  modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <br><br><br><br><br><br><br>
          <br><br><br><br>
        </div>
        <div class="modalTooltip">
          <div class="modalTooltiptext my-5">
            <div id="imageFermer" class="" data-dismiss="modal">
              <img style="width: 50px;height: 50px;" src="../../../assets/images/fermer.png" alt="">
            </div>
            <h1 id="texteMdal" class="py-2 text-center" style="font-weight: bold;">Charlie GARETH 6 - fonction</h1>
            <p id="texteMdal" class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
    </div>
  </div>