<div class="" id="header">
    <section class="container" id="container-heade">
        <div id="page-contenu">
            <!-- <div class="row mt-4 text-center">
                <div class="col-md-4"></div>
                <div class="col-md-4 mt-3 mb-5 py-5 text-center" (click)="openClickMenu()">
                    <div class="loader-logo" id="svice-icon">
                        <img  class="toggle-button img-fluid" src="../../../assets/icones/logo.png" />
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div> -->

            <div class="row mt-5 text-center">
                <div class="col-md-4"></div>
                <div class="col-md-4 mt-4 mb-5 py-5">
                    <input type="checkbox" id="active">
                    <label for="active" class="menu-btn mb-4">
                        <div class="loader-logo" id="svice-icon">
                            <img  class="toggle-button img-fluid" src="../../../assets/icones/logo.png" />
                        </div>
                    </label>
                    <div class="wrapper">
                        <div id="navLink">
                            <p><a routerLink="/">Accueil</a></p>
                            <p><a routerLink="/presentation">Présentation</a></p>
                            <p><a routerLink="/mission-accueil">Mission</a></p>
                            <p><a routerLink="/agence-fond">Agences / Fonds</a></p>
                            <p><a routerLink="/membres">Membres</a></p>
                            <p><a routerLink="/dons">Dons</a></p>
                            <p><a routerLink="/blog">Blog</a></p>
                            <p><a routerLink="/suggestions-plaintes">Suggestions / Plaintes</a></p>
                            <p><a routerLink="/partenaires">Partenaires</a></p>
                            <p class="mt-3">
                                <span><a href="#">
                                <i class="fab fa-facebook-f"></i>
                                </a></span> &nbsp;
                                <span><a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a></span>&nbsp;
                                <span><a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a></span>&nbsp;
                                <span><a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a></span>&nbsp;
                                <span><a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a></span>
                            </p>
                            <p class="mt-5"><small> &copy;2020 - ONG N'GBOADÔ</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-right"></div>
            </div>

            <div class="row container text-center py-3" id="ligne-text-header">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <p style="font-size: 42px;color: #fff;">L'ultime<br>
                        <b style="font-size: 42px;color: #fff;">entreprise créative</b><br/>Dans le marché<br>
                    </p>
                    <span style="color: #fff; font-size: 25px">Le meilleur modèle multi-page polyvalent</span>
                </div>
                <div class="col-md-3"></div>
            </div>
        <div>
        <br>
        <!-- flex-box -->
        <div class="flex-container container" style="margin-top: 0%;">
            <div class="jeflex1">
                <h4 class="Texte text-center">
                    <img class="mt-3" style="width: 50px;height: 50px;" src="../../../assets/icones/prevention.png" alt="Prévention"><br>Prévention
                </h4>
            </div>

            <div class="jeflex2">
                <h4 class="Texte text-center" style="padding-top: 40px;">
                    <img class="mt-3" style="width: 50px;height: 50px;" src="../../../assets/icones/assistance.png" alt="Assistance"><br>Assistance
                </h4>
            </div>

            <div class="jeflex3">
                <h4 class="Texte text-center">
                    <img class="mt-3" style="width: 50px;height: 50px;" src="../../../assets/icones/reinsertion.png" alt="Réinsertion"><br> Réinsertion
                </h4>
            </div>  
        </div>
        <!-- flex-box -->
    </div>
          <!--Card box-->

      </div>
  </section>
</div>
<!--/-Header-->

<!-- le menu (debut) -->
<header>
    <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" id="closeNav" (click)="closeClickMenu()">&times;</a>
    <div class="overlay-content">
        <div class="row mt-4 mb-4 text-center">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center" (click)="openClickMenu()">
                <div id="svice-icon1">
                    <img  class="toggle-button" src="../../../../assets/icones/logo.png" />
                </div>
            </div>
            <div class="col-md-4"></div>
        </div><br>
        <a class="lover" routerLink="/">Accueil</a>
      <a class="lover" routerLink="/presentation">Présentation</a>
      <a class="lover" routerLink="/mission-accueil">Mission</a>
      <a class="lover" routerLink="/agence-fond">Agences / Fonds</a>
      <a class="lover" routerLink="/membres">Membres</a>
      <a class="lover" routerLink="/dons">Dons</a>
      <a class="lover" routerLink="/blog">Blog</a>
      <a class="lover" routerLink="/suggestions-plaintes">Suggestions / Plaintes</a>
      <a class="lover" routerLink="/partenaires">Partenaires</a>
      <ul>
        <span><a href="#">
            <i class="fab fa-facebook-f"></i>
        </a></span> &nbsp;
        <span><a href="#">
            <i class="fab fa-twitter"></i>
        </a></span>&nbsp;
        <span><a href="#">
            <i class="fab fa-linkedin-in"></i>
        </a></span>&nbsp;
        <span><a href="#">
            <i class="fab fa-instagram"></i>
        </a></span>&nbsp;
        <span><a href="#">
            <i class="fab fa-youtube"></i>
        </a></span>
        <br>
        <small> &copy;2020 - ONG N'GBOADÔ</small>
        <br><br><br>
    </ul>
    </div>
    </div>
</header>
<!-- le menu (fin) -->


 <!--About section-->
<section class="my-5" id="About-section">
  <br><br><br><br><br><br>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-5">
              <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-8">
                      <h3>Découvrez l'histoire de l'ONG, <br> et les principaux organes <br> qu'on y trouve</h3>
                      <hr class="lehr mt-4">
                      <br><br>
                      <p>
                          <small class="lorem">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                          <br> Sed non risus. Suspendisse lectus tortor, dignissim sit
                              amet, adipiscing nec, ultricies sed, dolor. Cras elementum
                              ultrices diam. Maecenas ligula massa, varius a, semper congue.
                              Lorem ipsum dolor sit amet, consectetur<br>
                              elit Sed non risus. Suspendisse lectus tortor tortore
                              elit Sed non risus. Suspendisse lectus tortor tortore.
                          </small>
                      </p>
                      <div style="width: 133px; height: 46px; background-image: linear-gradient(to right, #019939, #336699);">
                        <a routerLink="/presentation">
                            <button style=" width: 127px; height: 40px; margin: 3px; border: none; background-color: #fff;color: #019939;">Lire la suite</button>
                        </a>
                      </div>
                  </div>
                  <div class="col-md-1"></div>
              </div>
          </div>
          <div class="col-md-7">
              <div class="row">
                  <div class="col-md-5">
                      <div class="mb-4">
                          <span class="nbre">50</span>
                          <p class="cite">Bureaux</p>
                          <p>
                              <small class="lorem">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing
                                  elit Sed non risus. Suspendisse lectus tortor tortores.
                              </small>
                          </p>
                      </div>

                      <div class="mt-4 mb-2">
                          <span class="nbre">600</span>
                          <p class="cite">Membres</p>
                          <p>
                              <small class="lorem">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing
                                  elit Sed non risus. Suspendisse lectus tortor tortores.
                              </small>
                          </p>
                      </div>
                  </div>
                  <div class="col-md-5">
                      <div class="mb-2">
                          <span class="nbre">270</span>
                          <p class="cite">Programmes</p>
                          <p>
                              <small class="lorem">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing
                                  elit Sed non risus. Suspendisse lectus tortor tortores.
                              </small>
                          </p>
                      </div>
                      <div class="mt-4 mb-2">
                          <span class="nbre">320</span>
                          <p class="cite">Projets</p>
                          <p>
                              <small class="lorem">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing
                                  elit Sed non risus. Suspendisse lectus tortor tortores.
                              </small>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <br><br><br><br><br>
</section>
<!--/-About section-->


<!-- section 3 start-->
<section class="section3" style="background: #f7f9fb;">
  <div class="container-fluid">
    <br><br>
    <div class="text-center mt-4 mb-4 py-5">
      <h3>Un aperçu des derniers articles du blog<br>du site mondial</h3>
    </div>
    <div class="row">
      <div style="background: #f7f9fb;" class="row bhoechie-tab-container my-5">
        <div class="col-md-7 bhoechie-tab" style="background: #f7f9fb;">
          <div class="bhoechie-tab-content active">
            <div class="un">
              <img src="../../../assets/images/groupe_accueil.jpg" style="width: 730px;height: 500px;" class="img-fluid rounded mx-auto d-block">
            </div>
          </div>
          <div class="bhoechie-tab-content"></div>
          <div class="bhoechie-tab-content">
              <div class="deux">
                  <img src="../../../assets/images/homme1.png" style="width: 730px;height: 500px;" class="img-fluid rounded mx-auto d-block">
              </div>
          </div>
          <div class="bhoechie-tab-content"></div>
            <div class="bhoechie-tab-content">
                <div class="trois">
                    <img src="../../../assets/images/groupe_accueil.jpg" style="width: 730px;height: 500px;" class="img-fluid rounded mx-auto d-block">
                </div>
            </div>
          </div>
          <div class="col-md-4 bhoechie-tab-menu" style="background: #f7f9fb;">
              <div class="list-group">
                  <a class="list-group-item active mb-4" style="border-radius: 5px;">
                      <div style="padding: 10px;">
                          <h3>Un autre titre</h3>
                          <small style="font-size: 15px;">Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer</small>
                      </div>
                  </a>
                  <br>
                  <a class="list-group-item mt-2 mb-2" style="border-radius: 5px;">
                      <div class="text-bloc3" style="padding: 9px;">
                          <h3>Un autre titre</h3>
                          <small style="font-size: 15px;">Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer</small>
                      </div>
                  </a>
                  <br>
                  <a class="list-group-item mt-4" style="border-radius: 5px;">
                      <div class="text-bloc3" style="padding: 9px;">
                          <h3>Un autre titre</h3>
                          <small style="font-size: 15px;">Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer</small>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-1"></div>
      </div>
  </div>
  </div>
</section>
<!-- section 3 fin-->


<!-- section 4 plaintes et suggestions start-->
<section class="section4 mt-5 mb-5">
    <h2  class="text-center titre-bloc4 mt-3 mb-3 py-5">Votre espace pour vos suggestions, plaintes ou tout autre <br>idée qui serait utile à l'ONG.</h2>
    <div class="flexb mt-4 mb-5 py-5" style="text-align:center">
        <div class="flexb">
            <hr  class="lehr" style="width: 25px; height: 2px; border: none; margin-top: 20px; margin-left: -30px;">
            <span class="cercle">1</span>
            <hr class="lehr" style="width: 450px; height: 2px; border: none; margin-top: 20px; ">
        </div>
      
        <div class="flexb">
            <span class="cercle">2</span>
            <hr class="lehr" style="width: 460px; height: 2px; border: none; margin-top: 20px; margin-left: -1px;">
        </div>
         
        <div class="flexb">
          <span class="cercle">3</span>
          <hr class="lehr" style="width: 350px; height: 2px; border: none; margin-top: 20px;">
        </div>
    </div>
  
    <div class="row text-justify mt-5 mb-5">
        <div class="col-md-4">
            <p class="plainte">Voulez-vous faire <br>une suggestion à l'ONG, <br>à un bureau...?</p> 
            <span class="lorem-bloc4 mt-5 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Sed non risus. Suspendisse lectus tortor, dignissim sit <br>amet, adipiscing nec, ultricies sed, dolor. Cras elementum<br>ultrices diam. Maecenas ligula massa, varius a, semper congue.</span>
            <div class="mt-4" style="width: 133px; height: 46px; background-image: linear-gradient(to right, #019939, #336699);">
                <button style=" width: 127px; height: 40px; margin: 3px; border: none; background-color: #fff;color: #019939;">Allez-y</button>
            </div>
        </div>
     
        <div class="col-md-4">
            <p class="plainte">Voulez-vous faire <br>une suggestion à l'ONG, <br>à un bureau...?</p> 
            <span class="lorem-bloc4 mt-5 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Sed non risus. Suspendisse lectus tortor, dignissim sit <br>amet, adipiscing nec, ultricies sed, dolor. Cras elementum<br>ultrices diam. Maecenas ligula massa, varius a, semper congue.</span>
            <div class="mt-4" style="width: 133px; height: 46px; background-image: linear-gradient(to right, #019939, #336699);">
                <button style=" width: 127px; height: 40px; margin: 3px; border: none; background-color: #fff;color: #019939;">Allez-y</button>
            </div>
        </div>
     
        <div class="col-md-4">
            <p class="plainte">Voulez-vous faire <br>une suggestion à l'ONG, <br>à un bureau...?</p> 
            <span class="lorem-bloc4 mt-5 mb-4" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Sed non risus. Suspendisse lectus tortor, dignissim sit <br>amet, adipiscing nec, ultricies sed, dolor. Cras elementum<br>ultrices diam. Maecenas ligula massa, varius a, semper congue.</span>
            <div class="mt-4" style="width: 133px; height: 46px; background-image: linear-gradient(to right, #019939, #336699);">
                <button style=" width: 127px; height: 40px; margin: 3px; border: none; background-color: #fff;color: #019939;">Allez-y</button>
            </div>  
        </div>
    </div>
    <br><br>
</section>
<!-- section 4 plaintes et suggestions end-->


<!-- section 5 découverte du fondateur de l'ONG start-->
<section class="section5 mt-5 mb-5 py-5">
    <h3 class="text-center titre py-5">Découvrez Job SODJINOU, Président-Fondateur <br>de l'ONG N'GBOADÔ <br> <br>
        <button type="button" class="btn btn-primary btn-lg">&nbsp; Découvrir &nbsp;</button>
    </h3>
    
    <div class="about-section">
        <div class="inner-container text-left">
            <p class="lorem-bloc5">Lorem ipsum dolor sit amet, conse adipiscing elit. Sed non risus. Susp lectus tortor, dignissim Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus...</p>
            <span style="font-size: 20px; font-weight: 500;">Job SODJINOU</span><br>
            <span class="fdt" style="color: #828282; font-size: 15px;">Président-Fondateur</span>
        </div>
    </div>
</section>

  <!-- section 5 découverte du fondateur de l'ONG end-->