<section class="section1">
    <div class="landing-page">
        <div class="page-content">
            <div class="grid-logo toggle-button">
                <div class="logo-gauche"></div>
                <div class="logo-milieu">
                    <div class="svice-box">
                        <div class="svice-icon loader-logo">
                            <img src="../../../assets/icones/logo.png">
                        </div>
                    </div>
                </div>
                <div class="logo-droite"></div>
            </div>
            <p><span class="prest">Suggestions & Plaintes</span> <br>
                <span class="march">Dans le marché</span><br>
                <span>Le meilleur modèle multi-page polyvalent</span>
              </p><br><br><br><br><br>
              <hr style="color: #fff;">
    
        </div>
    </div>
</section>

<section class="section2">
    <div class="row">
        <div class="col-md-6">
            <div class="accordion">
                <div class="accordion-item">
                    <div class="accordion-item-header">
                        1. Suggestions
                    </div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <p class="lorem-acc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Sed non risus. Suspendisse lectus tortor, dignissim sit amet,
                                 adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.
                                  Maecenas ligula massa, varius a, semper congue, euismod non.
                            </p>
                            <p class="lorem-acc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Sed non risus. Suspendisse lectus tortor, dignissim sit amet.
                                Maecenas ligula massa, varius a, semper congue, euismod non.
                            </p>
                            <p class="lorem-acc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Sed non risus. Suspendisse lectus tortor, dignissim sit amet.
                                Maecenas ligula massa, varius a, semper congue, euismod non.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-item-header">
                        1. Plaintes
                    </div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <p class="lorem-acc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Sed non risus. Suspendisse lectus tortor, dignissim sit amet,
                                 adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.
                                  Maecenas ligula massa, varius a, semper congue, euismod non.
                            </p>
                            <p class="lorem-acc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Sed non risus. Suspendisse lectus tortor, dignissim sit amet.
                                Maecenas ligula massa, varius a, semper congue, euismod non.
                            </p>
                            <p class="lorem-acc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Sed non risus. Suspendisse lectus tortor, dignissim sit amet.
                                Maecenas ligula massa, varius a, semper congue, euismod non.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-item-header">
                        1. Autres
                    </div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-content">
                            <p class="lorem-acc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Sed non risus. Suspendisse lectus tortor, dignissim sit amet,
                                 adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.
                                  Maecenas ligula massa, varius a, semper congue, euismod non.
                            </p>
                            <p class="lorem-acc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Sed non risus. Suspendisse lectus tortor, dignissim sit amet.
                                Maecenas ligula massa, varius a, semper congue, euismod non.
                            </p>
                            <p class="lorem-acc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Sed non risus. Suspendisse lectus tortor, dignissim sit amet.
                                Maecenas ligula massa, varius a, semper congue, euismod non.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <p class="anonyme text-center mt-4">
                    Voulez-vous faire une suggestion de façon anonyme ?<br><br>
                    <span class="anony">Oui</span> &nbsp; &nbsp; <span class="anony">Non</span>
                  </p>
            

                <form style="padding-left: 25px; padding-right: 25px; padding-bottom: 25px;">
                    <div class="form-group mb-4">
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Pacôme">
                    </div>
                    <div class="form-group mb-4">
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Kouadio">
                    </div>
                    <div class="form-group mb-2">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" placeholder="Faites votre suggestion..."></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mbn">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>

<!-- le menu (debut) -->
<header>
    <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" id="closeNav" (click)="closeClickMenu()">&times;</a>
    <div class="overlay-content">
        <div class="row mt-4 mb-4 text-center">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center" (click)="openClickMenu()">
                <div id="svice-icon">
                    <img  class="toggle-button" src="../../../assets/icones/logo.png" />
                </div>
            </div>
            <div class="col-md-4"></div>
        </div><br>
      <a class="lover" routerLink="/">Accueil</a>
      <a class="lover" routerLink="/presentation">Présentation</a>
      <a class="lover" routerLink="/mission-accueil">Mission</a>
      <a class="lover" routerLink="/agence-fond">Agences / Fonds</a>
      <a class="lover" routerLink="/membres">Membres</a>
      <a class="lover" routerLink="/dons">Dons</a>
      <a class="lover" routerLink="/blog">Blog</a>
      <a class="lover" routerLink="/suggestions-plaintes">Suggestions / Plaintes</a>
      <a class="lover" routerLink="/partenaires">Partenaires</a>
      <ul>
        <span><a href="#">
            <i class="fab fa-facebook-f"></i>
        </a></span>
        <span><a href="#">
            <i class="fab fa-twitter"></i>
        </a></span>
        <span><a href="#">
            <i class="fab fa-linkedin-in"></i>
        </a></span>
        <span><a href="#">
            <i class="fab fa-instagram"></i>
        </a></span>
        <span><a href="#">
            <i class="fab fa-youtube"></i>
        </a></span>
        <br>
        <small> &copy;2020 - ONG N'GBOADÔ</small>
        <br><br><br>
    </ul>
    </div>
    </div>
  </header>
<!-- le menu (fin) -->