body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
    .grid-logo {
      display: grid;
      grid-template-areas: 'gauche gauche milieu milieu droite droite';
      grid-gap: 10px;
      color: #fff;
      padding: 10px;
      margin-top: 10px;
    }
  .grid-logo > div{
      background-color: transparent;
      text-align: center;
      padding: 20px 0;
  }
  .logo-gauche { grid-area: gauche; }
  .logo-droite { grid-area: droite; }
  .logo-milieu { grid-area: milieu; }
  .svice-box {
   margin: 0 auto;
  }
  .svice-icon{
      display: inline-block;
      box-shadow: 0px 0px 0px 8px rgba(243, 239, 239, 0.384);
      color: #276070;
      background: #fbfcfa;
      border-radius: 50%;
      text-align: center;
      transition: 0.3s linear;
    }
  .svice-icon img{
      left: 50%;
      height: 125px;
      border-radius: 50%;
      width: 125px;
    }
  /*logo end*/

  ul {
    list-style: none;
  }
  ul span {
    display: inline-flex;
  }
  ul span a {
    text-decoration: none;
    color: darkgray;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid transparent;
  }
  .nav a {
    text-decoration: none;
    color: #000;
    border-radius: 0.2rem;
    border: 1px solid #e2e0e0;
    margin-left: 0.6rem;
  }
  .nav span a{
    width: 205px;
    height: 40px;
    padding: 5px;
    margin-top: 75px;
    margin-left: 120px;
    margin-right: 20px;
  }
  .tab-pane {
    display: none;
  }
  .tab-pane.active {
    display: block;
  }
  .nav-tab{
    align-items: center;
  }
  .fa{
    position: absolute;
    right: 30px;
    top: 0;
    font-size: 15px;
    color: #505056d0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .car{
      z-index: 10;
      margin-top: -120px;
  }
  
  
  
  
  * { box-sizing: border-box; }
  
  
  .carousel img {
    display: block;
    height: 200px;
  }
  
  @media screen and ( min-width: 768px ) {
    .carousel img {
      height: 400px;
    }
  }

/* le menu style start */
.overlay {
  background-image: url("../../../assets/images/bg-accueil.jpg");
}
/* le menu style end */