<div id="section1">
     <!-- le logo (debut) -->
    <div class="row mt-4 mb-4">
        <div class="col-md-1"></div>

        <div class="col-md-3">
            <div class="dropdown" id="dropd">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Categorie
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
        </div>

        <div class="col-md-4 text-center" (click)="openClickMenu()">
            <div class="loader-logo" id="svice-icon">
                <img  class="toggle-button" src="../../../assets/icones/logo.png" />
            </div>
        </div>

        <div class="col-md-4">
            <div class="dropdown" id="dropd2">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Periode
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
        </div>

    </div>
    <!-- le logo (fin) -->

    <!-- ............................. -->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">

            <section id="carousel">
                <img src="img/arrow_left.svg" alt="Left Carousel Arrow" class="arrow" id="left-arrow">
                <img src="img/arrow_right.svg" alt="Right Carousel Arrow" class="arrow" id="right-arrow">
                
                <!--img 1--><div "class="slide-image" id="slide1">
                  <span id="slide1Text" style="color: white;">
                    <p style="font-size: 30px; font-weight: 900; line-height: 33px;">Allassane Ouattara <br> candidat du RHDP</p>
                    Le lorem ipsum est, en imprimerie, une suite <br>de mots sans signification utilisée 
                    <br>à titre provisoire pour calibrer une mise en page, <br>
                    le texte définitif venant remplacer le faux-texte.
                  </span>
                </div><!--img 1-->

                <!--img 2--><div class="slide-image" id="slide2">
                  <span id="slide2Text" style="color: white;">
                    <p style="font-size: 30px; font-weight: 900; line-height: 33px; ">FIF: Candidature validée <br> pour Didier Drogba</p>
                    Le lorem ipsum est, en imprimerie, une suite <br>de mots sans signification utilisée 
                    <br>à titre provisoire pour calibrer une mise en page, <br>
                    le texte définitif venant remplacer le faux-texte.
                  </span>
                </div><!--img 2-->

                <!--img 3--><div class="slide-image" id="slide3">
                  <span id="slide3Text" style="color: white;">
                    <p style="font-size: 30px; font-weight: 900; line-height: 33px; ">Arafat Dj: 1an deja <br> qu'il nous a quitté</p>
                    Le lorem ipsum est, en imprimerie, une suite <br>de mots sans signification utilisée 
                    <br>à titre provisoire pour calibrer une mise en page, <br>
                    le texte définitif venant remplacer le faux-texte.
                  </span>
                </div><!--img 3-->

                <!--img 4--><div class="slide-image" id="slide4">
                  <span id="slide4Text" style="color: white;">
                    <p style="font-size: 30px; font-weight: 900; line-height: 33px;">La nouvelle désillusion<br> de Cristiano Ronaldo</p>
                    Le lorem ipsum est, en imprimerie, une suite <br>de mots sans signification utilisée 
                    <br>à titre provisoire pour calibrer une mise en page, <br>
                    le texte définitif venant remplacer le faux-texte.
                  </span>
                 </div> <!--img 4-->

                <!--img 5--><div class="slide-image" id="slide5">
                  <span id="slide5Text" style="color: white;">
                    <p style="font-size: 30px; font-weight: 900; line-height: 33px;">La nouvelle désillusion<br> de Cristiano Ronaldo</p>
                    Le lorem ipsum est, en imprimerie, une suite <br>de mots sans signification utilisée 
                    <br>à titre provisoire pour calibrer une mise en page, <br>
                    le texte définitif venant remplacer le faux-texte.
                  </span>
                </div><!--img 5-->
            
              </section>

        </div>
    </div>




    
    <!-- ............................. -->
</div>
<!-- La barre de recherche -->
<!-- <br><br>
<div class="monForm" style="margin-left: 475px;">
  <form>
    <div class="form-group row">
      <div class="col-sm-6">
        <i class="fa fa-search"></i>
        <input type="search" class="form-control" placeholder="Recherche">
      </div>
    </div>
  </form>
</div> -->
<!-- La barre de recherche -->

<!-- le menu (debut) -->
<header>
  <div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" id="closeNav" (click)="closeClickMenu()">&times;</a>
  <div class="overlay-content">
      <div class="row mt-4 mb-4 text-center">
          <div class="col-md-4"></div>
          <div class="col-md-4 text-center" (click)="openClickMenu()">
              <div id="svice-icon">
                  <img  class="toggle-button" src="../../../assets/icones/logo.png" />
              </div>
          </div>
          <div class="col-md-4"></div>
      </div><br>
    <a class="lover" routerLink="/">Accueil</a>
    <a class="lover" routerLink="/presentation">Présentation</a>
    <a class="lover" routerLink="/mission-accueil">Mission</a>
    <a class="lover" routerLink="/agence-fond">Agences / Fonds</a>
    <a class="lover" routerLink="/membres">Membres</a>
    <a class="lover" routerLink="/dons">Dons</a>
    <a class="lover" routerLink="/blog">Blog</a>
    <a class="lover" routerLink="/suggestions-plaintes">Suggestions / Plaintes</a>
    <a class="lover" routerLink="/partenaires">Partenaires</a>
    <ul>
      <span><a href="#">
          <i class="fab fa-facebook-f"></i>
      </a></span>
      <span><a href="#">
          <i class="fab fa-twitter"></i>
      </a></span>
      <span><a href="#">
          <i class="fab fa-linkedin-in"></i>
      </a></span>
      <span><a href="#">
          <i class="fab fa-instagram"></i>
      </a></span>
      <span><a href="#">
          <i class="fab fa-youtube"></i>
      </a></span>
      <br>
      <small> &copy;2020 - ONG N'GBOADÔ</small>
      <br><br><br>
  </ul>
  </div>
  </div>
</header>
<!-- le menu (fin) -->
