body{
  overflow-x: hidden;
}

/* #svice-icon{
  margin-left: 200px !important;
} */



/* le menu style start */
.overlay {
  background-image: url("../../../assets/images/bg-accueil.jpg");
}
/* le menu style end */

@media screen and (max-width: 767px) {
  #cache{
      display: none !important;
  }
}
#header{
  width: 100%;
  background: #000;
  position: relative;
  overflow: hidden;
}
#header::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  background: url("../../../assets/images/bg-accueil.jpg") no-repeat;
  background-size: cover;
  opacity: .3;
}
#page-contenu{
  position: relative;
  top: 50%;
  z-index: 1;
  width: 100%;
  text-align: center;
  line-height: 330%;
  color: #fff;
}

#svice-icon, #svice-icon1{
  cursor: pointer;
  display: inline-block;
  box-shadow: 0px 0px 0px 30px rgba(255,255,255,0.3);
  color: #276070;
  background: #fbfcfa;
  border-radius: 50%;
  text-align: center;
  transition: 0.3s linear;
}
#svice-icon1 img{
  left: 50%;
  height: 200px;
  border-radius: 50%;
  width: 200px;
}
#svice-icon img{
  left: 50%;
  height: 150px;
  border-radius: 50%;
  width: 150px;
}


.flex-container {
  display: flex;
  cursor: pointer;
}

.flex-container > div {
  font-size: 30px;
  height: 148px;
  width: 480px !important;
}

div.jeflex1, .jeflex3{
    margin-top: 50px;
    background: #26313c;
    color: #fff;
}
div.jeflex2 {
  height: 197px !important;
  width: 360%;
  color: #fff;
  background: #d20514;
}



/*logo animation start*/
.loader-logo {
 overflow: hidden;
 transform: translatey(0px);
 -webkit-animation: float 3s ease-in-out infinite;
         animation: float 3s ease-in-out infinite;
}


@-webkit-keyframes float {
 0% {
   transform: translatey(0px);
 }
 50% {
   transform: translatey(-20px);
 }
 100% {
   transform: translatey(0px);
 }
}

@keyframes float {
 0% {
   transform: translatey(0px);
 }
 50% {
   transform: translatey(-20px);
 }
 100% {
   transform: translatey(0px);
 }
}
/*logo animation end*/
/*logo style end*/

/*Bg image style end*/



/* section 1 style start */
ol,
ul {
   margin: 0;
   padding: 0;
   list-style: none;
}
a, 
a:hover, 
a:focus {
   outline: none;
   text-decoration: none;
   color: inherit;
}
img{
  height: 100vh;
  width: 100%;
}
.mesimg{
 margin-top: 13%;
  width: 40px !important;
  height: 40px !important;
  align-items: center;
  }

  .Texte{
    font-weight: 700;
    padding-top: 20px;
  }
/*...................... section 1 style end....................... */


/* ...............section 2 style start ................... */
.nbre{
  background: -webkit-linear-gradient(left, #d20514, #d20514);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}

.story{
  font-size: 40px;
  font-weight: 500;
  color: #262626 !important;
}

.cite{
  font-size: 30px;
  font-weight: 470;
  color: #262626 !important;
}

.lehr{
  width: 10%;
  height: 3px;
  float: left;
  background-image: linear-gradient(to right,#d20514,#d20514) !important;
  border: none;
}

.lorem{
   color: #828282 !important;
   font-weight: 600;
   font-size: 17px;
}
/* .............. section 2 style end.................... */




/*-------------Section 3 style start------------------*/

.section3, .section5{
  background-color: #f7f9fb !important;
}

.text-bloc3 .active div>h3,
.text-bloc3 .active div>h3{
  color: #ffffff !important;
 }
div.bhoechie-tab-container{
 align-items: center;
 z-index: 10;
 background-color: #ffffff;
 color: #262626;
 padding: 0 !important;
 margin-top: 20px;
 background-clip: padding-box;
 opacity: 0.97;
 filter: alpha(opacity=97);
}

div.bhoechie-tab-menu{
 padding-right: 0;
 margin-left: 0;
 padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
 margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
 margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
 color: #5A55A3;
}

div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
 background-color: linear-gradient(90deg, #d20514 31%, #d20514 69%);;
 background-image: linear-gradient(90deg, #d20514 31%, #d20514 69%);;
 color: #ffffff !important;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
 content: '';
 position: absolute;
 right: 100%;
 top: 50%;
 margin-top: -13px;
 border-right: 0;
 border-bottom: 13px solid transparent;
 border-top: 13px solid transparent;
 border-right: 10px solid #d20514;
 color: #ffffff !important;
}

a.list-group-item {
 border-top: 0 none;
 border-right: 0 none;
 border-left: 0 none;
 border-bottom: 0 none;
 cursor: pointer;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
 display: none;
}
/*-----------------Section 3 style end------------------*/




/* .................section 4 style start................. */
.section4, .section2{
  padding-left: 200px !important;
  padding-right: 200px !important;
 }

 .titre-bloc4{
   color: #262626;
 }

 .plainte{
   color: #262626;
   font-weight: 500;
   font-size: 18px;
 }
 .lorem-bloc4{
   color: #828282;
   font-size: 12px;
   font-weight: 600;
 }

 .Mnbtn {
   background-image: linear-gradient(left, #d20514, #d20514) !important;
   color: black !important;
 }

/* timeline start*/
.cercle {
  margin-top: 3px;
  height: 35px;
  width: 35px;
  border: 2px solid #d20514;
  border-radius: 50%;
  display: inline-block;
  font-size: 20px;
}

.flexb{display: flex}
/* timeline end */
/*.............. section 4 style end................. */



/*............. section 5 style start................. */

.titre, .lorem-bloc5{
  color: #262626;
}

.btn-primary{
 background-image: linear-gradient(to right, #d20514, #d20514);
 border: none !important;
 color: #fff;
}

.about-section{
  background: url("../../../assets/images/mr_job.jpg") no-repeat left;
  background-size: 80%;
  height: 500px;
  padding: 80px 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-left: 19%;
 }
 
 .inner-container{
  width: 370px;
  max-width: 380px;
  height: 300px;
  max-height: 301px !important;
  float: left;
  background-color: #ffffff;
  padding: 50px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transform: translateX(-3rem);
  -webkit-transform: translateX(-3rem);
  -moz-transform: translateX(-3rem);
  -ms-transform: translateX(-3rem);
  -o-transform: translateX(-3rem);
  box-shadow: 0 4px 8px 0 rgba(151, 148, 148, 0.2);
  transition: 0.3s;
 }
/*...........section 5 style end................. */























/* 
 _____   _           _         _                        _                  
|_   _| | |         | |       | |                      | |                 
  | |   | |__   __ _| |_ ___  | |_ ___  _ __ ___   __ _| |_ ___   ___  ___ 
  | |   | '_ \ / _` | __/ _ \ | __/ _ \| '_ ` _ \ / _` | __/ _ \ / _ \/ __|
 _| |_  | | | | (_| | ||  __/ | || (_) | | | | | | (_| | || (_) |  __/\__ \
 \___/  |_| |_|\__,_|\__\___|  \__\___/|_| |_| |_|\__,_|\__\___/ \___||___/

Oh nice, welcome to the stylesheet of dreams. 
It has it all. Classes, ID's, comments...the whole lot:)
Enjoy responsibly!
@ihatetomatoes

*/

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

   .chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
p {
    line-height: 1.33em;
    color: #7E7E7E;
}
h1 {
    color: #EEEEEE;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222222;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    
    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: #222222;
    }

    #content {
        margin: 0 auto;
        padding-bottom: 50px;
        width: 80%;
        max-width: 978px;
    }  






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* 
    Ok so you have made it this far, that means you are very keen to on my code. 
    Anyway I don't really mind it. This is a great way to learn so you actually doing the right thing:)
    Follow me @ihatetomatoes
*/