body{
    font-family: 'Nunito' sans-serif;
    margin: 0px;
    padding: 0;
 }
 
 .flex-container {
    display: flex;
    cursor: pointer;
  }
  
  .flex-container > div {
    font-size: 30px;
    height: 176px;
    width: 450%;
  }
  
  div.jeflex1{
      margin-top: 50px;
      background: #26313c;
      color: #fff;
  }
  div.jeflex3{
    margin-top: 50px;
    background: #26313c;
    color: #fff;
    align-items: center;
}
  div.jeflex2 {
    height: 227px;
    width: 370%;
    color: #fff;
    background: linear-gradient(to right, #019939, #336699);
  }

  .grid-container {
      display: grid;
      grid-template-areas:
        'header header header header header header'
        'menu main main main right right'
        'menu footer footer footer footer footer';
      grid-gap: 80px;
      padding: 10px;
    }
    
    .item1{
      width: 440px;
    }
    .item2{
      width: 300px;
    }
    .item3{
      width: 300px;
    }



    

