<section class="section1">
    <div class="landing-pag" id="header">
        <div class="" id="page-contenu">
            <div class="row mt-4 mb-4 text-center">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center" (click)="openClickMenu()">
                    <div class="loader-logo" id="svice-icon">
                        <img  class="toggle-button" src="../../../assets/icones/logo-district.jpg" />
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>

            <p><span class="prest">Présentation</span> <br>
                <span class="march">Dans le marché</span><br>
                <span style="color: #fff; font-size: 25px;">Le meilleur modèle multi-page polyvalent</span>
            </p><br><br><br><br><br>
            <div class="container">
                <hr style="background-color: #fff;">
            </div>
        </div>
    </div><br><br><br>
</section>

<section class="section2">
  
    <div class="row">
      <div class="col-md-1">
      </div>
        <div class="col-md-5 mt-5">
            <div class="ac" style="margin-left: 20px;">
                <input class="ac-input" id="ac-1" name="ac-1" type="checkbox" />
                <label class="ac-label" for="ac-1">1. Historique</label>
                
                <article class="ac-text">
                  <p class="lorem-acc">
                <span>Job Sodjinou</span> est née le 19 Mars 1981 à Koumassi, Abidjan.
                 Béninois d'origine, il est le 5ème garçon d'une famille de 9 enfants.
                 Après l'obtention d'unBac scientifique, il est orienté au CBCG de 
                 Cocody où il étudie la Finance Comptabilité.
              </p>
              <p class="lorem-acc">
                Toujours en quête de savoir, il décide de faire un tour en Europe.
                C'est ainsi que le 18 août 2015, il pose ses valises en Suisse.
                Les réalités du pays hôte le contraignent à la dépravation sexuelle
                suivie de son corolaire, la drogue.
              </p>
              <p class="lorem-acc">
               Devenue toxicomane, sans repère et dans l'impossibilité d'avoir du boulot
               sans son pays d'accueil, la drogue devint.
                Maecenas ligula massa, varius a, semper congue, euismod non.
              </p>
              <button type="button" class="btn btn-primary"> Lire la suite</button>
                </article><!--/ac-text-->
            </div><!--/ac-->
        
              <div class="ac" style="margin-left: 20px;">
                <input class="ac-input" id="ac-2" name="ac-2" type="checkbox" />
                <label class="ac-label" for="ac-2">2. L'assemblée générale</label>
                
                <article class="ac-text">
                  <p class="lorem-acc">
                    <span>Job Sodjinou</span> est née le 19 Mars 1981 à Koumassi, Abidjan.
                     Béninois d'origine, il est le 5ème garçon d'une famille de 9 enfants.
                     Après l'obtention d'unBac scientifique, il est orienté au CBCG de 
                     Cocody où il étudie la Finance Comptabilité.
                  </p>
                  <p class="lorem-acc">
                    Toujours en quête de savoir, il décide de faire un tour en Europe.
                    C'est ainsi que le 18 août 2015, il pose ses valises en Suisse.
                    Les réalités du pays hôte le contraignent à la dépravation sexuelle
                    suivie de son corolaire, la drogue.
                  </p>
                  <p class="lorem-acc">
                   Devenue toxicomane, sans repère et dans l'impossibilité d'avoir du boulot
                   sans son pays d'accueil, la drogue devint.
                    Maecenas ligula massa, varius a, semper congue, euismod non.
                  </p>
                  <button type="button" class="btn btn-primary"> Lire la suite</button> 
                </article><!--/ac-text-->
              </div><!--/ac-->
        
              <div class="ac" style="margin-left: 20px;">
                <input class="ac-input" id="ac-3" name="ac-3" type="checkbox" />
                <label class="ac-label" for="ac-3">3. Le sécrétariat</label>
                
                <article class="ac-text">
                  <p class="lorem-acc">
                    <span>Job Sodjinou</span> est née le 19 Mars 1981 à Koumassi, Abidjan.
                     Béninois d'origine, il est le 5ème garçon d'une famille de 9 enfants.
                     Après l'obtention d'unBac scientifique, il est orienté au CBCG de 
                     Cocody où il étudie la Finance Comptabilité.
                  </p>
                  <p class="lorem-acc">
                    Toujours en quête de savoir, il décide de faire un tour en Europe.
                    C'est ainsi que le 18 août 2015, il pose ses valises en Suisse.
                    Les réalités du pays hôte le contraignent à la dépravation sexuelle
                    suivie de son corolaire, la drogue.
                  </p>
                  <p class="lorem-acc">
                   Devenue toxicomane, sans repère et dans l'impossibilité d'avoir du boulot
                   sans son pays d'accueil, la drogue devint.
                    Maecenas ligula massa, varius a, semper congue, euismod non.
                  </p>
                  <button type="button" class="btn btn-primary"> Lire la suite</button> 
                </article><!--/ac-text-->
              </div><!--/ac-->

              <div class="ac" style="margin-left: 20px;">
                <input class="ac-input" id="ac-4" name="ac-4" type="checkbox" />
                <label class="ac-label" for="ac-4">4. Le sécrétariat</label>
                
                <article class="ac-text">
                  <p class="lorem-acc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   Sed non risus. Suspendisse lectus tortor, dignissim sit amet,
                    adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.
                     Maecenas ligula massa, varius a, semper congue, euismod non.
                  </p>
                  <p class="lorem-acc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed non risus. Suspendisse lectus tortor, dignissim sit amet.
                    Maecenas ligula massa, varius a, semper congue, euismod non.
                  </p>
                  <p class="lorem-acc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed non risus. Suspendisse lectus tortor, dignissim sit amet.
                    Maecenas ligula massa, varius a, semper congue, euismod non.
                  </p>
                  <button type="button" class="btn btn-primary"> Lire la suite</button> 
                </article><!--/ac-text-->
              </div><!--/ac-->

              <div class="ac" style="margin-left: 20px;">
                <input class="ac-input" id="ac-5" name="ac-5" type="checkbox" />
                <label class="ac-label" for="ac-5">5. Le cabinet marketing et communication</label>
                
                <article class="ac-text">
                  <p class="lorem-acc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   Sed non risus. Suspendisse lectus tortor, dignissim sit amet,
                    adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.
                     Maecenas ligula massa, varius a, semper congue, euismod non.
                  </p>
                  <p class="lorem-acc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed non risus. Suspendisse lectus tortor, dignissim sit amet.
                    Maecenas ligula massa, varius a, semper congue, euismod non.
                  </p>
                  <p class="lorem-acc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed non risus. Suspendisse lectus tortor, dignissim sit amet.
                    Maecenas ligula massa, varius a, semper congue, euismod non.
                  </p>
                  <button type="button" class="btn btn-primary"> Lire la suite</button> 
                </article><!--/ac-text-->
              </div><!--/ac-->

              <div class="ac" style="margin-left: 20px;">
                <input class="ac-input" id="ac-6" name="ac-6" type="checkbox" />
                <label class="ac-label" for="ac-6"> 6. Le conseil économique, social et environnemental </label>
                
                <article class="ac-text">
                  <p class="lorem-acc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   Sed non risus. Suspendisse lectus tortor, dignissim sit amet,
                    adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.
                     Maecenas ligula massa, varius a, semper congue, euismod non.
                  </p>
                  <p class="lorem-acc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed non risus. Suspendisse lectus tortor, dignissim sit amet.
                    Maecenas ligula massa, varius a, semper congue, euismod non.
                  </p>
                  <p class="lorem-acc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed non risus. Suspendisse lectus tortor, dignissim sit amet.
                    Maecenas ligula massa, varius a, semper congue, euismod non.
                  </p>
                  <button type="button" class="btn btn-primary"> Lire la suite</button> 
                </article><!--/ac-text-->
              </div><!--/ac-->

              <div class="ac" style="margin-left: 20px;">
                <input class="ac-input" id="ac-7" name="ac-7" type="checkbox" />
                <label class="ac-label" for="ac-7">7. La cour universelle de justice</label>
                
                <article class="ac-text">
                  <p class="lorem-acc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   Sed non risus. Suspendisse lectus tortor, dignissim sit amet,
                    adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.
                     Maecenas ligula massa, varius a, semper congue, euismod non.
                  </p>
                  <p class="lorem-acc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed non risus. Suspendisse lectus tortor, dignissim sit amet.
                    Maecenas ligula massa, varius a, semper congue, euismod non.
                  </p>
                  <p class="lorem-acc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed non risus. Suspendisse lectus tortor, dignissim sit amet.
                    Maecenas ligula massa, varius a, semper congue, euismod non.
                  </p>
                  <button type="button" class="btn btn-primary"> Lire la suite</button> 
                </article><!--/ac-text-->
              </div><!--/ac-->
          </div>

        <div class="col-md-5 mb-5 mt-2" style="margin-left: 20px;">
            <div class="card shadow-lg bg-white">
              <div id="logoPresentation">
                <img src="../../../assets/icones/logo-district.jpg" class="img-fluid" alt="Logo ong">
              </div>
            </div>
        </div>
    </div>
</section>



<!-- le menu (debut) -->
<header>
    <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" id="closeNav" (click)="closeClickMenu()">&times;</a>
    <div class="overlay-content">
        <div class="row mt-4 mb-4 text-center">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center" (click)="openClickMenu()">
                <div id="svice-icon">
                    <img  class="toggle-button" src="../../../assets/icones/logo-district.jpg" />
                </div>
            </div>
            <div class="col-md-4"></div>
        </div><br>
      <a class="lover" routerLink="/district-accueil">Accueil</a>
      <a class="lover" routerLink="/presentation-district">Présentation</a>
      <a class="lover" routerLink="/mission-accueil-district">Mission</a>
      <a class="lover" routerLink="/agence-fond-district">Agences / Fonds</a>
      <a class="lover" routerLink="/membres-district">Membres</a>
      <a class="lover" routerLink="/dons-district">Dons</a>
      <a class="lover" routerLink="/blog-district">Blog</a>
      <a class="lover" routerLink="/suggestions-plaintes-district">Suggestions / Plaintes</a>
      <a class="lover" routerLink="/partenaires-district">Partenaires</a>
      <ul>
        <span><a href="#">
          <i class="fab fa-facebook-f"></i>
      </a></span>&nbsp;
      <span><a href="#">
          <i class="fab fa-twitter"></i>
      </a></span>&nbsp;
      <span><a href="#">
          <i class="fab fa-linkedin-in"></i>
      </a></span>&nbsp;
      <span><a href="#">
          <i class="fab fa-instagram"></i>
      </a></span>&nbsp;
      <span><a href="#">
          <i class="fab fa-youtube"></i>
      </a></span>
        <br>
        <small> &copy;2020 - ONG N'GBOADÔ</small>
        <br><br><br>
    </ul>
    </div>
    </div>
  </header>
<!-- le menu (fin) -->

